<table id="acvtable" class="display" style="width:100%">
<thead>
<tr>
<th>Commune</th>
<th>Code Insee</th>
<th>Enquête</th>
<th>Type de correspondance</th>
</tr>
</thead>
<tbody>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/albi?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Albi</a></td>
<td data-label="Code Insee">81004</td>
<td data-label="Enquête">Albi, 2011</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/alencon?m1=2&m2=2&m3=1&m4=nb&t=14&s=501" target="_blank">Saint-Lô</a></td>
<td data-label="Code Insee">50502</td>
<td data-label="Enquête">Alençon St-Lô, 2018</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/alencon?m1=2&m2=2&m3=1&m4=nb&t=14&s=601" target="_blank">Alençon</a></td>
<td data-label="Code Insee">61001</td>
<td data-label="Enquête">Alençon St-Lô, 2018</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/alencon?m1=2&m2=2&m3=1&m4=nb&t=14&s=607" target="_blank">Argentan</a></td>
<td data-label="Code Insee">61006</td>
<td data-label="Enquête">Alençon St-Lô, 2018</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/alencon?m1=2&m2=2&m3=1&m4=nb&t=14&s=611" target="_blank">Flers</a></td>
<td data-label="Code Insee">61169</td>
<td data-label="Enquête">Alençon St-Lô, 2018</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/angouleme?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Angoulême</a></td>
<td data-label="Code Insee">16015</td>
<td data-label="Enquête">Angoulême, 2012</td>
<td data-label="Type de correspondance">Cas particulier</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/annecy?m1=2&m2=2&m3=1&m4=nb&t=14&s=403" target="_blank">Rumilly</a></td>
<td data-label="Code Insee">74225</td>
<td data-label="Enquête">Annecy, 2017</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/bayonne?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Bayonne</a></td>
<td data-label="Code Insee">64102</td>
<td data-label="Enquête">Bayonne, 2010</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/besancon?m1=2&m2=2&m3=1&m4=nb&t=14&s=101" target="_blank">Besançon</a></td>
<td data-label="Code Insee">25056</td>
<td data-label="Enquête">Besançon, 2018</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/beziers?m1=2&m2=2&m3=1&m4=nb&t=14&s=101" target="_blank">Béziers</a></td>
<td data-label="Code Insee">34032</td>
<td data-label="Enquête">Béziers, 2014</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/beziers?m1=2&m2=2&m3=1&m4=nb&t=14&s=117" target="_blank">Agde</a></td>
<td data-label="Code Insee">34003</td>
<td data-label="Enquête">Béziers, 2014</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/bordeaux?m1=2&m2=2&m3=1&m4=nb&t=14&s=102" target="_blank">Libourne</a></td>
<td data-label="Code Insee">33243</td>
<td data-label="Enquête">Bordeaux, 2009</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/caen?m1=2&m2=2&m3=1&m4=nb&t=14&s=218" target="_blank">Lisieux</a></td>
<td data-label="Code Insee">14366</td>
<td data-label="Enquête">Caen, 2011</td>
<td data-label="Type de correspondance">Cas particulier</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/caen?m1=2&m2=2&m3=1&m4=nb&t=14&s=225" target="_blank">Vire Normandie</a></td>
<td data-label="Code Insee">14762</td>
<td data-label="Enquête">Caen, 2011</td>
<td data-label="Type de correspondance">Cas particulier</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/carcassonne?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Carcassonne</a></td>
<td data-label="Code Insee">11069</td>
<td data-label="Enquête">Carcassonne, 2015</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/cherbourg?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Cherbourg-en-Cotentin</a></td>
<td data-label="Code Insee">50129</td>
<td data-label="Enquête">Cherbourg, 2016</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/clermont-ferrand?m1=2&m2=2&m3=1&m4=nb&t=14&s=128" target="_blank">Riom</a></td>
<td data-label="Code Insee">63300</td>
<td data-label="Enquête">Clermont-Ferrand, 2012</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/clermont-ferrand?m1=2&m2=2&m3=1&m4=nb&t=14&s=203" target="_blank">Issoire</a></td>
<td data-label="Code Insee">63178</td>
<td data-label="Enquête">Clermont-Ferrand, 2012</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/clermont-ferrand?m1=2&m2=2&m3=1&m4=nb&t=14&s=210" target="_blank">Thiers</a></td>
<td data-label="Code Insee">63430</td>
<td data-label="Enquête">Clermont-Ferrand, 2012</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/clermont-ferrand?m1=2&m2=2&m3=1&m4=nb&t=14&s=219" target="_blank">Vichy</a></td>
<td data-label="Code Insee">03310</td>
<td data-label="Enquête">Clermont-Ferrand, 2012</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/creil?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Creil</a></td>
<td data-label="Code Insee">60175</td>
<td data-label="Enquête">Creil, 2017</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/creil?m1=2&m2=2&m3=1&m4=nb&t=14&s=024" target="_blank">Senlis</a></td>
<td data-label="Code Insee">60612</td>
<td data-label="Enquête">Creil, 2017</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/douai?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Douai</a></td>
<td data-label="Code Insee">59178</td>
<td data-label="Enquête">Douai, 2012</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/dunkerque?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Dunkerque</a></td>
<td data-label="Code Insee">59183</td>
<td data-label="Enquête">Dunkerque, 2015</td>
<td data-label="Type de correspondance">Cas particulier</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/grenoble?m1=2&m2=2&m3=1&m4=nb&t=14&s=501" target="_blank">Voiron</a></td>
<td data-label="Code Insee">38563</td>
<td data-label="Enquête">Grenoble, 2010</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7704" target="_blank">Meaux</a></td>
<td data-label="Code Insee">77284</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7706" target="_blank">Coulommiers</a></td>
<td data-label="Code Insee">77131</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7711" target="_blank">Melun</a></td>
<td data-label="Code Insee">77288</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7713" target="_blank">Montereau-Fault-Yonne</a></td>
<td data-label="Code Insee">77305</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7714" target="_blank">Avon</a></td>
<td data-label="Code Insee">77014</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7714" target="_blank">Fontainebleau</a></td>
<td data-label="Code Insee">77186</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7715" target="_blank">Nemours</a></td>
<td data-label="Code Insee">77333</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7801" target="_blank">Sartrouville</a></td>
<td data-label="Code Insee">78586</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7805" target="_blank">Poissy</a></td>
<td data-label="Code Insee">78498</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7806" target="_blank">Meulan-en-Yvelines</a></td>
<td data-label="Code Insee">78401</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7806" target="_blank">Les Mureaux</a></td>
<td data-label="Code Insee">78440</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7807" target="_blank">Mantes-la-Jolie</a></td>
<td data-label="Code Insee">78361</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7808" target="_blank">Limay</a></td>
<td data-label="Code Insee">78335</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7815" target="_blank">Rambouillet</a></td>
<td data-label="Code Insee">78517</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7816" target="_blank">Trappes</a></td>
<td data-label="Code Insee">78621</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9101" target="_blank">Évry-Courcouronnes</a></td>
<td data-label="Code Insee">91228</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9103" target="_blank">Étampes</a></td>
<td data-label="Code Insee">91223</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9104" target="_blank">Saint-Michel-sur-Orge</a></td>
<td data-label="Code Insee">91570</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9105" target="_blank">Arpajon</a></td>
<td data-label="Code Insee">91021</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9106" target="_blank">Corbeil-Essonnes</a></td>
<td data-label="Code Insee">91174</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9503" target="_blank">Beaumont-sur-Oise</a></td>
<td data-label="Code Insee">95052</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9503" target="_blank">Persan</a></td>
<td data-label="Code Insee">95487</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9506" target="_blank">Gonesse</a></td>
<td data-label="Code Insee">95277</td>
<td data-label="Enquête">Paris, 2010</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/la-reunion?m1=2&m2=2&m3=1&m4=nb&t=14&s=023" target="_blank">Saint-André</a></td>
<td data-label="Code Insee">97409</td>
<td data-label="Enquête">La Réunion, 2016</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/la-reunion?m1=2&m2=2&m3=1&m4=nb&t=14&s=034" target="_blank">Saint-Joseph</a></td>
<td data-label="Code Insee">97412</td>
<td data-label="Enquête">La Réunion, 2016</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/la-reunion?m1=2&m2=2&m3=1&m4=nb&t=14&s=045" target="_blank">Saint-Pierre</a></td>
<td data-label="Code Insee">97416</td>
<td data-label="Enquête">La Réunion, 2016</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/la-reunion?m1=2&m2=2&m3=1&m4=nb&t=14&s=070" target="_blank">Le Port</a></td>
<td data-label="Code Insee">97407</td>
<td data-label="Enquête">La Réunion, 2016</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/le-havre?m1=2&m2=2&m3=1&m4=nb&t=14&s=030" target="_blank">Fécamp</a></td>
<td data-label="Code Insee">76259</td>
<td data-label="Enquête">Le Havre, 2018</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/longwy?m1=2&m2=2&m3=1&m4=nb&t=14&s=120" target="_blank">Longwy</a></td>
<td data-label="Code Insee">54323</td>
<td data-label="Enquête">Longwy, 2014</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/lyon?m1=2&m2=2&m3=1&m4=nb&t=14&s=301" target="_blank">Bourgoin-Jallieu</a></td>
<td data-label="Code Insee">38053</td>
<td data-label="Enquête">Lyon, 2015</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/lyon?m1=2&m2=2&m3=1&m4=nb&t=14&s=401" target="_blank">Vienne</a></td>
<td data-label="Code Insee">38544</td>
<td data-label="Enquête">Lyon, 2015</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/lyon?m1=2&m2=2&m3=1&m4=nb&t=14&s=509" target="_blank">Tarare</a></td>
<td data-label="Code Insee">69243</td>
<td data-label="Enquête">Lyon, 2015</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/lyon?m1=2&m2=2&m3=1&m4=nb&t=14&s=712" target="_blank">Ambérieu-en-Bugey</a></td>
<td data-label="Code Insee">01004</td>
<td data-label="Enquête">Lyon, 2015</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/marseille?m1=2&m2=2&m3=1&m4=nb&t=14&s=133" target="_blank">Manosque</a></td>
<td data-label="Code Insee">04112</td>
<td data-label="Enquête">Marseille, 2009</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/martinique?m1=2&m2=2&m3=1&m4=nb&t=14&s=006" target="_blank">Fort-de-France</a></td>
<td data-label="Code Insee">97209</td>
<td data-label="Enquête">Martinique, 2014</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/martinique?m1=2&m2=2&m3=1&m4=nb&t=14&s=016" target="_blank">Le Lamentin</a></td>
<td data-label="Code Insee">97213</td>
<td data-label="Enquête">Martinique, 2014</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/montpellier?m1=2&m2=2&m3=1&m4=nb&t=14&s=059" target="_blank">Lunel</a></td>
<td data-label="Code Insee">34145</td>
<td data-label="Enquête">Montpellier, 2014</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/montpellier?m1=2&m2=2&m3=1&m4=nb&t=14&s=073" target="_blank">Sète</a></td>
<td data-label="Code Insee">34301</td>
<td data-label="Enquête">Montpellier, 2014</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/nancy?m1=2&m2=2&m3=1&m4=nb&t=14&s=151" target="_blank">Toul</a></td>
<td data-label="Code Insee">54528</td>
<td data-label="Enquête">Nancy, 2013</td>
<td data-label="Type de correspondance">Cas particulier</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/nancy?m1=2&m2=2&m3=1&m4=nb&t=14&s=163" target="_blank">Lunéville</a></td>
<td data-label="Code Insee">54329</td>
<td data-label="Enquête">Nancy, 2013</td>
<td data-label="Type de correspondance">Cas particulier</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/nantes?m1=2&m2=2&m3=1&m4=nb&t=14&s=110" target="_blank">Saint-Nazaire</a></td>
<td data-label="Code Insee">44184</td>
<td data-label="Enquête">Nantes, 2015</td>
<td data-label="Type de correspondance">Cas particulier</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/nantes?m1=2&m2=2&m3=1&m4=nb&t=14&s=210" target="_blank">Châteaubriant</a></td>
<td data-label="Code Insee">44036</td>
<td data-label="Enquête">Nantes, 2015</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/nice?m1=2&m2=2&m3=1&m4=nb&t=14&s=078" target="_blank">Vallauris</a></td>
<td data-label="Code Insee">06155</td>
<td data-label="Enquête">Nice, 2009</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/nice?m1=2&m2=2&m3=1&m4=nb&t=14&s=084" target="_blank">Grasse</a></td>
<td data-label="Code Insee">06069</td>
<td data-label="Enquête">Nice, 2009</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/niort?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Niort</a></td>
<td data-label="Code Insee">79191</td>
<td data-label="Enquête">Niort, 2016</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/poitiers?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Poitiers</a></td>
<td data-label="Code Insee">86194</td>
<td data-label="Enquête">Poitiers, 2018</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/quimper?m1=2&m2=2&m3=1&m4=nb&t=14&s=011" target="_blank">Quimper</a></td>
<td data-label="Code Insee">29232</td>
<td data-label="Enquête">Quimper, 2013</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/rennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=047" target="_blank">Vitré</a></td>
<td data-label="Code Insee">35360</td>
<td data-label="Enquête">Rennes, 2018</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/rennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=054" target="_blank">Redon</a></td>
<td data-label="Code Insee">35236</td>
<td data-label="Enquête">Rennes, 2018</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/rennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=064" target="_blank">Saint-Malo</a></td>
<td data-label="Code Insee">35288</td>
<td data-label="Enquête">Rennes, 2018</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/rennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=073" target="_blank">Fougères</a></td>
<td data-label="Code Insee">35115</td>
<td data-label="Enquête">Rennes, 2018</td>
<td data-label="Type de correspondance">Commune infra-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/rouen?m1=2&m2=2&m3=1&m4=nb&t=14&s=059" target="_blank">Louviers</a></td>
<td data-label="Code Insee">27375</td>
<td data-label="Enquête">Rouen, 2017</td>
<td data-label="Type de correspondance">Cas particulier</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/saint-brieuc?m1=2&m2=2&m3=1&m4=nb&t=14&s=015" target="_blank">Saint-Brieuc</a></td>
<td data-label="Code Insee">22278</td>
<td data-label="Enquête">Saint-Brieuc, 2012</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/saint-etienne?m1=2&m2=2&m3=1&m4=nb&t=14&s=034" target="_blank">Montbrison</a></td>
<td data-label="Code Insee">42147</td>
<td data-label="Enquête">Saint-Étienne, 2010</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/strasbourg?m1=2&m2=2&m3=1&m4=nb&t=14&s=050" target="_blank">Haguenau</a></td>
<td data-label="Code Insee">67180</td>
<td data-label="Enquête">Strasbourg, 2009</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/strasbourg?m1=2&m2=2&m3=1&m4=nb&t=14&s=056" target="_blank">Saverne</a></td>
<td data-label="Code Insee">67437</td>
<td data-label="Enquête">Strasbourg, 2009</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/thionville?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Thionville</a></td>
<td data-label="Code Insee">57672</td>
<td data-label="Enquête">Thionville, 2012</td>
<td data-label="Type de correspondance">Cas particulier</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/tours?m1=2&m2=2&m3=1&m4=nb&t=14&s=246" target="_blank">Chinon</a></td>
<td data-label="Code Insee">37072</td>
<td data-label="Enquête">Tours, 2019</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/valence?m1=2&m2=2&m3=1&m4=nb&t=14&s=101" target="_blank">Valence</a></td>
<td data-label="Code Insee">26362</td>
<td data-label="Enquête">Valence, 2014</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/valence?m1=2&m2=2&m3=1&m4=nb&t=14&s=116" target="_blank">Bourg-de-Péage</a></td>
<td data-label="Code Insee">26057</td>
<td data-label="Enquête">Valence, 2014</td>
<td data-label="Type de correspondance">Commune mono-secteur</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/valence?m1=2&m2=2&m3=1&m4=nb&t=14&s=117" target="_blank">Romans-sur-Isère</a></td>
<td data-label="Code Insee">26281</td>
<td data-label="Enquête">Valence, 2014</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/valenciennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Valenciennes</a></td>
<td data-label="Code Insee">59606</td>
<td data-label="Enquête">Valenciennes, 2019</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

<tr>
<td data-label="Commune"><a href = "/fr/geoviz/valenciennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=021" target="_blank">Denain</a></td>
<td data-label="Code Insee">59172</td>
<td data-label="Enquête">Valenciennes, 2019</td>
<td data-label="Type de correspondance">Commune multi-secteurs</td>
</tr>

</tbody>
</table>

