<table id="dtable" class="display" style="width:100%">
<thead>
<tr>
<th>Ville</th>
<th>Année</th>
<th>Nombre d'enquêtés</th>
<th>Nombre de déplacements</th>
<th>Nombre de présences horaires</th>
<th>Nombre de secteurs</th>
<th>Taille des secteurs en km². Superficie médiane (min-max)</th>
<th>Nombre d'enquêtés par secteur. Médiane (min-max) à 3h</th>
<th>Nombre d'enquêtés par secteur. Médiane (min-max) à 15h</th>
</tr>
</thead>
<tbody>

<tr>
<td data-label="Ville">Albi et sa région</td>
<td data-label="Année">2011</td>
<td data-label="Nombre d'enquêtés">  2 339</td>
<td data-label="Nombre de déplacements">  9 171</td>
<td data-label="Nombre de présences horaires">   52 709</td>
<td data-label="Nombre de secteurs">15</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">7 (1,3-54)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">155 (148-160)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">119 (77-288)</td>
</tr>

<tr>
<td data-label="Ville">Alençon et sa région</td>
<td data-label="Année">2018</td>
<td data-label="Nombre d'enquêtés">  6 520</td>
<td data-label="Nombre de déplacements"> 30 315</td>
<td data-label="Nombre de présences horaires">  148 702</td>
<td data-label="Nombre de secteurs">46</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">145 (1,9-435)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">140 (131-154)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">118 (78-231)</td>
</tr>

<tr>
<td data-label="Ville">Amiens et sa région</td>
<td data-label="Année">2010</td>
<td data-label="Nombre d'enquêtés">  7 097</td>
<td data-label="Nombre de déplacements"> 30 933</td>
<td data-label="Nombre de présences horaires">  162 293</td>
<td data-label="Nombre de secteurs">45</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">13 (0,8-410)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">145 (127-238)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">128 (76-443)</td>
</tr>

<tr>
<td data-label="Ville">Angers et sa région</td>
<td data-label="Année">2012</td>
<td data-label="Nombre d'enquêtés">  3 983</td>
<td data-label="Nombre de déplacements"> 18 399</td>
<td data-label="Nombre de présences horaires">   90 032</td>
<td data-label="Nombre de secteurs">28</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">17 (2-111)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">138 (124-160)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">111 (63-258)</td>
</tr>

<tr>
<td data-label="Ville">Angoulême et sa région</td>
<td data-label="Année">2012</td>
<td data-label="Nombre d'enquêtés">  2 684</td>
<td data-label="Nombre de déplacements"> 11 300</td>
<td data-label="Nombre de présences horaires">   60 691</td>
<td data-label="Nombre de secteurs">18</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">14 (1,5-151)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">146 (139-172)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">130 (75-249)</td>
</tr>

<tr>
<td data-label="Ville">Annecy et sa région</td>
<td data-label="Année">2017</td>
<td data-label="Nombre d'enquêtés">  4 953</td>
<td data-label="Nombre de déplacements"> 22 944</td>
<td data-label="Nombre de présences horaires">  110 641</td>
<td data-label="Nombre de secteurs">34</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">27 (0,9-486)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">143 (130-172)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">124 (83-246)</td>
</tr>

<tr>
<td data-label="Ville">Annemasse et sa région</td>
<td data-label="Année">2016</td>
<td data-label="Nombre d'enquêtés">  5 905</td>
<td data-label="Nombre de déplacements"> 26 700</td>
<td data-label="Nombre de présences horaires">  123 973</td>
<td data-label="Nombre de secteurs">42</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">36 (0,8-232)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">137 (121-213)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">96 (66-161)</td>
</tr>

<tr>
<td data-label="Ville">Bayonne et sa région</td>
<td data-label="Année">2010</td>
<td data-label="Nombre d'enquêtés">  7 387</td>
<td data-label="Nombre de déplacements"> 28 716</td>
<td data-label="Nombre de présences horaires">  170 184</td>
<td data-label="Nombre de secteurs">50</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">20 (0,8-642)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">147 (129-171)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">122 (86-436)</td>
</tr>

<tr>
<td data-label="Ville">Besançon et sa région</td>
<td data-label="Année">2018</td>
<td data-label="Nombre d'enquêtés">  3 980</td>
<td data-label="Nombre de déplacements"> 17 568</td>
<td data-label="Nombre de présences horaires">   90 654</td>
<td data-label="Nombre de secteurs">28</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">5 (0,5-191)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">142 (127-157)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">104 (74-451)</td>
</tr>

<tr>
<td data-label="Ville">Béziers et sa région</td>
<td data-label="Année">2014</td>
<td data-label="Nombre d'enquêtés">  4 212</td>
<td data-label="Nombre de déplacements"> 18 661</td>
<td data-label="Nombre de présences horaires">   95 887</td>
<td data-label="Nombre de secteurs">30</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">52 (1,2-822)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">138 (130-153)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">117 (82-204)</td>
</tr>

<tr>
<td data-label="Ville">Bogotá et sa région</td>
<td data-label="Année">2019</td>
<td data-label="Nombre d'enquêtés"> 49 757</td>
<td data-label="Nombre de déplacements">127 405</td>
<td data-label="Nombre de présences horaires">1 126 901</td>
<td data-label="Nombre de secteurs">133</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">4 (0,8-15)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">365 (46-729)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">323 (70-1453)</td>
</tr>

<tr>
<td data-label="Ville">Bordeaux et sa région</td>
<td data-label="Année">2009</td>
<td data-label="Nombre d'enquêtés"> 13 793</td>
<td data-label="Nombre de déplacements"> 60 641</td>
<td data-label="Nombre de présences horaires">  321 385</td>
<td data-label="Nombre de secteurs">95</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">10 (0,4-1206)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">142 (124-216)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">127 (61-293)</td>
</tr>

<tr>
<td data-label="Ville">Brest et sa région</td>
<td data-label="Année">2018</td>
<td data-label="Nombre d'enquêtés">  6 518</td>
<td data-label="Nombre de déplacements"> 29 237</td>
<td data-label="Nombre de présences horaires">  151 004</td>
<td data-label="Nombre de secteurs">46</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">13 (0,9-236)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">139 (125-161)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">115 (73-301)</td>
</tr>

<tr>
<td data-label="Ville">Caen et sa région</td>
<td data-label="Année">2011</td>
<td data-label="Nombre d'enquêtés"> 10 000</td>
<td data-label="Nombre de déplacements"> 43 194</td>
<td data-label="Nombre de présences horaires">  232 512</td>
<td data-label="Nombre de secteurs">67</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">15 (0,5-647)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">151 (125-165)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">123 (70-485)</td>
</tr>

<tr>
<td data-label="Ville">Carcassonne et sa région</td>
<td data-label="Année">2015</td>
<td data-label="Nombre d'enquêtés">  2 891</td>
<td data-label="Nombre de déplacements"> 11 915</td>
<td data-label="Nombre de présences horaires">   66 165</td>
<td data-label="Nombre de secteurs">19</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">36 (0,8-246)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">153 (140-159)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">119 (90-306)</td>
</tr>

<tr>
<td data-label="Ville">Cherbourg et sa région</td>
<td data-label="Année">2016</td>
<td data-label="Nombre d'enquêtés">  4 207</td>
<td data-label="Nombre de déplacements"> 18 978</td>
<td data-label="Nombre de présences horaires">   97 670</td>
<td data-label="Nombre de secteurs">28</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">42 (1,3-231)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">150 (142-158)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">125 (88-337)</td>
</tr>

<tr>
<td data-label="Ville">Clermont-Ferrand et sa région</td>
<td data-label="Année">2012</td>
<td data-label="Nombre d'enquêtés">  8 052</td>
<td data-label="Nombre de déplacements"> 34 182</td>
<td data-label="Nombre de présences horaires">  187 334</td>
<td data-label="Nombre de secteurs">56</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">39 (0,7-471)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">144 (130-159)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">112 (71-373)</td>
</tr>

<tr>
<td data-label="Ville">Creil et sa région</td>
<td data-label="Année">2017</td>
<td data-label="Nombre d'enquêtés">  4 581</td>
<td data-label="Nombre de déplacements"> 18 956</td>
<td data-label="Nombre de présences horaires">   96 753</td>
<td data-label="Nombre de secteurs">31</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">16 (1-144)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">146 (140-153)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">104 (60-199)</td>
</tr>

<tr>
<td data-label="Ville">Dijon et sa région</td>
<td data-label="Année">2016</td>
<td data-label="Nombre d'enquêtés">  4 372</td>
<td data-label="Nombre de déplacements"> 18 685</td>
<td data-label="Nombre de présences horaires">  100 771</td>
<td data-label="Nombre de secteurs">30</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">6 (0,7-241)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">142 (126-179)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">120 (67-341)</td>
</tr>

<tr>
<td data-label="Ville">Douai et sa région</td>
<td data-label="Année">2012</td>
<td data-label="Nombre d'enquêtés">  5 344</td>
<td data-label="Nombre de déplacements"> 23 883</td>
<td data-label="Nombre de présences horaires">  115 844</td>
<td data-label="Nombre de secteurs">38</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">8 (1-54)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">139 (127-160)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">110 (64-214)</td>
</tr>

<tr>
<td data-label="Ville">Dunkerque et sa région</td>
<td data-label="Année">2015</td>
<td data-label="Nombre d'enquêtés">  4 537</td>
<td data-label="Nombre de déplacements"> 22 491</td>
<td data-label="Nombre de présences horaires">  103 897</td>
<td data-label="Nombre de secteurs">32</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">9 (1,1-117)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">140 (128-154)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">114 (71-289)</td>
</tr>

<tr>
<td data-label="Ville">Fort-de-France et sa région</td>
<td data-label="Année">2014</td>
<td data-label="Nombre d'enquêtés">  4 179</td>
<td data-label="Nombre de déplacements"> 14 005</td>
<td data-label="Nombre de présences horaires">   98 073</td>
<td data-label="Nombre de secteurs">24</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">36 (4,7-129)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">156 (129-283)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">146 (110-296)</td>
</tr>

<tr>
<td data-label="Ville">Grenoble et sa région</td>
<td data-label="Année">2010</td>
<td data-label="Nombre d'enquêtés"> 13 834</td>
<td data-label="Nombre de déplacements"> 63 336</td>
<td data-label="Nombre de présences horaires">  318 862</td>
<td data-label="Nombre de secteurs">97</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">14 (0,2-834)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">139 (124-273)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">107 (50-471)</td>
</tr>

<tr>
<td data-label="Ville">La Rochelle et sa région</td>
<td data-label="Année">2011</td>
<td data-label="Nombre d'enquêtés">  2 902</td>
<td data-label="Nombre de déplacements"> 12 203</td>
<td data-label="Nombre de présences horaires">   66 249</td>
<td data-label="Nombre de secteurs">19</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">8 (1,3-40)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">153 (137-164)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">120 (75-401)</td>
</tr>

<tr>
<td data-label="Ville">Le Havre et sa région</td>
<td data-label="Année">2018</td>
<td data-label="Nombre d'enquêtés">  6 540</td>
<td data-label="Nombre de déplacements"> 29 029</td>
<td data-label="Nombre de présences horaires">  151 581</td>
<td data-label="Nombre de secteurs">43</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">25 (0,7-256)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">141 (127-262)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">108 (72-434)</td>
</tr>

<tr>
<td data-label="Ville">Lille et sa région</td>
<td data-label="Année">2016</td>
<td data-label="Nombre d'enquêtés">  7 949</td>
<td data-label="Nombre de déplacements"> 38 180</td>
<td data-label="Nombre de présences horaires">  181 210</td>
<td data-label="Nombre de secteurs">57</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">5 (1-56)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">138 (123-156)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">118 (76-323)</td>
</tr>

<tr>
<td data-label="Ville">Longwy et sa région</td>
<td data-label="Année">2014</td>
<td data-label="Nombre d'enquêtés">  3 347</td>
<td data-label="Nombre de déplacements"> 13 178</td>
<td data-label="Nombre de présences horaires">   70 548</td>
<td data-label="Nombre de secteurs">22</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">32 (2,2-200)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">152 (145-160)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">108 (79-155)</td>
</tr>

<tr>
<td data-label="Ville">Lyon et sa région</td>
<td data-label="Année">2015</td>
<td data-label="Nombre d'enquêtés"> 24 070</td>
<td data-label="Nombre de déplacements"> 99 585</td>
<td data-label="Nombre de présences horaires">  557 575</td>
<td data-label="Nombre de secteurs">169</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">10 (0,4-346)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">140 (121-251)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">122 (68-445)</td>
</tr>

<tr>
<td data-label="Ville">Marseille et sa région</td>
<td data-label="Année">2009</td>
<td data-label="Nombre d'enquêtés"> 19 380</td>
<td data-label="Nombre de déplacements"> 87 031</td>
<td data-label="Nombre de présences horaires">  449 111</td>
<td data-label="Nombre de secteurs">137</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">18 (0,3-342)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">141 (117-165)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">118 (66-401)</td>
</tr>

<tr>
<td data-label="Ville">Metz et sa région</td>
<td data-label="Année">2017</td>
<td data-label="Nombre d'enquêtés">  6 490</td>
<td data-label="Nombre de déplacements"> 31 131</td>
<td data-label="Nombre de présences horaires">  144 399</td>
<td data-label="Nombre de secteurs">44</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">13 (1,1-176)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">142 (129-238)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">112 (70-414)</td>
</tr>

<tr>
<td data-label="Ville">Montpellier et sa région</td>
<td data-label="Année">2014</td>
<td data-label="Nombre d'enquêtés"> 11 433</td>
<td data-label="Nombre de déplacements"> 52 387</td>
<td data-label="Nombre de présences horaires">  263 639</td>
<td data-label="Nombre de secteurs">80</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">10 (0,3-547)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">140 (126-236)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">114 (71-421)</td>
</tr>

<tr>
<td data-label="Ville">Montréal et sa région</td>
<td data-label="Année">2013</td>
<td data-label="Nombre d'enquêtés">155 853</td>
<td data-label="Nombre de déplacements">404 563</td>
<td data-label="Nombre de présences horaires">3 689 524</td>
<td data-label="Nombre de secteurs">113</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">36 (1-762)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">1069 (116-4551)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">862 (109-9656)</td>
</tr>

<tr>
<td data-label="Ville">Nancy et sa région</td>
<td data-label="Année">2013</td>
<td data-label="Nombre d'enquêtés">  9 657</td>
<td data-label="Nombre de déplacements"> 40 664</td>
<td data-label="Nombre de présences horaires">  221 489</td>
<td data-label="Nombre de secteurs">68</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">17 (0,6-407)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">142 (124-163)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">110 (57-542)</td>
</tr>

<tr>
<td data-label="Ville">Nantes et sa région</td>
<td data-label="Année">2015</td>
<td data-label="Nombre d'enquêtés"> 17 357</td>
<td data-label="Nombre de déplacements"> 81 924</td>
<td data-label="Nombre de présences horaires">  401 110</td>
<td data-label="Nombre de secteurs">123</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">21 (0,6-331)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">138 (113-195)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">117 (66-389)</td>
</tr>

<tr>
<td data-label="Ville">Nice et sa région</td>
<td data-label="Année">2009</td>
<td data-label="Nombre d'enquêtés"> 14 989</td>
<td data-label="Nombre de déplacements"> 58 239</td>
<td data-label="Nombre de présences horaires">  346 893</td>
<td data-label="Nombre de secteurs">104</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">5 (0,4-505)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">143 (128-163)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">126 (65-384)</td>
</tr>

<tr>
<td data-label="Ville">Nîmes et sa région</td>
<td data-label="Année">2015</td>
<td data-label="Nombre d'enquêtés">  4 519</td>
<td data-label="Nombre de déplacements"> 18 598</td>
<td data-label="Nombre de présences horaires">  102 599</td>
<td data-label="Nombre de secteurs">31</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">8 (0,3-152)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">144 (132-168)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">114 (75-327)</td>
</tr>

<tr>
<td data-label="Ville">Niort et sa région</td>
<td data-label="Année">2016</td>
<td data-label="Nombre d'enquêtés">  2 869</td>
<td data-label="Nombre de déplacements"> 12 705</td>
<td data-label="Nombre de présences horaires">   65 026</td>
<td data-label="Nombre de secteurs">19</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">15 (1,1-156)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">150 (142-160)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">130 (83-226)</td>
</tr>

<tr>
<td data-label="Ville">Ottawa-Gatineau et sa région</td>
<td data-label="Année">2011</td>
<td data-label="Nombre d'enquêtés"> 48 767</td>
<td data-label="Nombre de déplacements">149 147</td>
<td data-label="Nombre de présences horaires">1 159 530</td>
<td data-label="Nombre de secteurs">26</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">58 (2,6-1278)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">1792 (400-4367)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">1566 (338-4695)</td>
</tr>

<tr>
<td data-label="Ville">Paris et sa région</td>
<td data-label="Année">2010</td>
<td data-label="Nombre d'enquêtés"> 26 312</td>
<td data-label="Nombre de déplacements">124 258</td>
<td data-label="Nombre de présences horaires">  605 074</td>
<td data-label="Nombre de secteurs">109</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">26 (3-1324)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">235 (129-420)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">204 (86-746)</td>
</tr>

<tr>
<td data-label="Ville">Poitiers et sa région</td>
<td data-label="Année">2018</td>
<td data-label="Nombre d'enquêtés">  4 106</td>
<td data-label="Nombre de déplacements"> 17 305</td>
<td data-label="Nombre de présences horaires">   93 297</td>
<td data-label="Nombre de secteurs">28</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">51 (1,1-228)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">140 (127-255)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">104 (60-450)</td>
</tr>

<tr>
<td data-label="Ville">Québec et sa région</td>
<td data-label="Année">2011</td>
<td data-label="Nombre d'enquêtés"> 48 660</td>
<td data-label="Nombre de déplacements">135 788</td>
<td data-label="Nombre de présences horaires">1 128 494</td>
<td data-label="Nombre de secteurs">69</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">16 (1,5-697)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">666 (301-1553)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">527 (179-2415)</td>
</tr>

<tr>
<td data-label="Ville">Quimper et sa région</td>
<td data-label="Année">2013</td>
<td data-label="Nombre d'enquêtés">  4 696</td>
<td data-label="Nombre de déplacements"> 17 291</td>
<td data-label="Nombre de présences horaires">  108 273</td>
<td data-label="Nombre de secteurs">30</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">57 (2,5-260)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">152 (142-200)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">130 (96-285)</td>
</tr>

<tr>
<td data-label="Ville">Rennes et sa région</td>
<td data-label="Année">2018</td>
<td data-label="Nombre d'enquêtés">  9 317</td>
<td data-label="Nombre de déplacements"> 44 004</td>
<td data-label="Nombre de présences horaires">  214 867</td>
<td data-label="Nombre de secteurs">68</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">55 (0,8-466)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">136 (118-159)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">106 (64-379)</td>
</tr>

<tr>
<td data-label="Ville">Rouen et sa région</td>
<td data-label="Année">2017</td>
<td data-label="Nombre d'enquêtés">  8 905</td>
<td data-label="Nombre de déplacements"> 38 146</td>
<td data-label="Nombre de présences horaires">  202 329</td>
<td data-label="Nombre de secteurs">63</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">15 (1,1-231)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">140 (118-166)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">108 (59-295)</td>
</tr>

<tr>
<td data-label="Ville">Saguenay et sa région</td>
<td data-label="Année">2015</td>
<td data-label="Nombre d'enquêtés"> 13 942</td>
<td data-label="Nombre de déplacements"> 41 229</td>
<td data-label="Nombre de présences horaires">  327 391</td>
<td data-label="Nombre de secteurs">21</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">26 (3,2-616)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">667 (456-760)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">601 (326-1200)</td>
</tr>

<tr>
<td data-label="Ville">Saint-Brieuc et sa région</td>
<td data-label="Année">2012</td>
<td data-label="Nombre d'enquêtés">  3 570</td>
<td data-label="Nombre de déplacements"> 14 556</td>
<td data-label="Nombre de présences horaires">   80 240</td>
<td data-label="Nombre de secteurs">22</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">8 (1,1-35)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">152 (146-245)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">124 (71-377)</td>
</tr>

<tr>
<td data-label="Ville">Saint-Denis et sa région</td>
<td data-label="Année">2016</td>
<td data-label="Nombre d'enquêtés"> 13 801</td>
<td data-label="Nombre de déplacements"> 53 363</td>
<td data-label="Nombre de présences horaires">  324 660</td>
<td data-label="Nombre de secteurs">99</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">11 (0,6-275)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">139 (121-159)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">124 (72-317)</td>
</tr>

<tr>
<td data-label="Ville">Saint-Étienne et sa région</td>
<td data-label="Année">2010</td>
<td data-label="Nombre d'enquêtés">  8 525</td>
<td data-label="Nombre de déplacements"> 38 576</td>
<td data-label="Nombre de présences horaires">  195 223</td>
<td data-label="Nombre de secteurs">52</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">30 (1,2-345)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">156 (137-220)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">127 (78-331)</td>
</tr>

<tr>
<td data-label="Ville">Santiago et sa région</td>
<td data-label="Année">2012</td>
<td data-label="Nombre d'enquêtés"> 29 733</td>
<td data-label="Nombre de déplacements"> 75 733</td>
<td data-label="Nombre de présences horaires">  685 001</td>
<td data-label="Nombre de secteurs">185</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">3 (0,7-855)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">156 (93-412)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">121 (58-1130)</td>
</tr>

<tr>
<td data-label="Ville">São Paulo et sa région</td>
<td data-label="Année">2017</td>
<td data-label="Nombre d'enquêtés"> 71 866</td>
<td data-label="Nombre de déplacements">152 975</td>
<td data-label="Nombre de présences horaires">1 690 002</td>
<td data-label="Nombre de secteurs">259</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">11 (1,3-522)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">146 (60-1540)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">162 (40-1870)</td>
</tr>

<tr>
<td data-label="Ville">Sherbrooke et sa région</td>
<td data-label="Année">2012</td>
<td data-label="Nombre d'enquêtés"> 19 908</td>
<td data-label="Nombre de déplacements"> 58 361</td>
<td data-label="Nombre de présences horaires">  456 828</td>
<td data-label="Nombre de secteurs">28</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">22 (1,7-357)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">668 (533-1245)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">504 (329-1517)</td>
</tr>

<tr>
<td data-label="Ville">Strasbourg et sa région</td>
<td data-label="Année">2009</td>
<td data-label="Nombre d'enquêtés"> 10 052</td>
<td data-label="Nombre de déplacements"> 46 935</td>
<td data-label="Nombre de présences horaires">  231 463</td>
<td data-label="Nombre de secteurs">67</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">35 (0,6-581)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">145 (128-225)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">123 (78-284)</td>
</tr>

<tr>
<td data-label="Ville">Thionville et sa région</td>
<td data-label="Année">2012</td>
<td data-label="Nombre d'enquêtés">  3 609</td>
<td data-label="Nombre de déplacements"> 15 676</td>
<td data-label="Nombre de présences horaires">   75 299</td>
<td data-label="Nombre de secteurs">22</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">7 (0,6-62)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">164 (155-173)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">106 (80-243)</td>
</tr>

<tr>
<td data-label="Ville">Toulouse et sa région</td>
<td data-label="Année">2013</td>
<td data-label="Nombre d'enquêtés"> 11 141</td>
<td data-label="Nombre de déplacements"> 48 919</td>
<td data-label="Nombre de présences horaires">  257 168</td>
<td data-label="Nombre de secteurs">66</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">11 (0,9-237)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">154 (128-331)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">128 (64-530)</td>
</tr>

<tr>
<td data-label="Ville">Tours et sa région</td>
<td data-label="Année">2019</td>
<td data-label="Nombre d'enquêtés">  7 624</td>
<td data-label="Nombre de déplacements"> 33 388</td>
<td data-label="Nombre de présences horaires">  175 782</td>
<td data-label="Nombre de secteurs">54</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">43 (0,5-637)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">139 (122-160)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">119 (78-279)</td>
</tr>

<tr>
<td data-label="Ville">Trois-Rivières et sa région</td>
<td data-label="Année">2011</td>
<td data-label="Nombre d'enquêtés"> 18 936</td>
<td data-label="Nombre de déplacements"> 50 687</td>
<td data-label="Nombre de présences horaires">  433 505</td>
<td data-label="Nombre de secteurs">28</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">62 (1,9-305)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">562 (422-1514)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">427 (284-1443)</td>
</tr>

<tr>
<td data-label="Ville">Valence et sa région</td>
<td data-label="Année">2014</td>
<td data-label="Nombre d'enquêtés">  5 143</td>
<td data-label="Nombre de déplacements"> 23 230</td>
<td data-label="Nombre de présences horaires">  117 368</td>
<td data-label="Nombre de secteurs">36</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">41 (1,3-477)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">142 (127-163)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">122 (71-326)</td>
</tr>

<tr>
<td data-label="Ville">Valenciennes et sa région</td>
<td data-label="Année">2019</td>
<td data-label="Nombre d'enquêtés">  5 647</td>
<td data-label="Nombre de déplacements"> 23 138</td>
<td data-label="Nombre de présences horaires">  126 662</td>
<td data-label="Nombre de secteurs">41</td>
<td data-label="Taille des secteurs en km². Superficie médiane (min-max)">12 (0,9-51)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 3h">137 (125-150)</td>
<td data-label="Nombre d'enquêtés par secteur. Médiane (min-max) à 15h">112 (75-255)</td>
</tr>

</tbody>
</table>

