// map
.svg-container {
  width: 100%;
  height : 100% ;
  vertical-align: top;
}

.sectover:hover {
  stroke: black;
  stroke-opacity: .8;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.zoneover1:hover {
  //#fea11c
  fill: black;
  fill-opacity: .1;
  stroke: black;
  stroke-opacity: .8;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.zoneover:hover {
  //#e29424
  stroke: black;
  stroke-opacity: .8;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.info{
  padding: 0px 0px;
  font: 10px sans-serif;
  background: #f9f9f9;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 8;
}

// choro & prop map
path.sectover {
  fill: none;
  cursor :pointer;
}
path.zoneover1 {
  fill: none;
  //cursor: pointer;
}
path.zoneover {
  fill: none;
  //cursor: pointer;
}

// prop & flow map
.secteurs {
  fill: #ddd;
  stroke: #bdbcb6;
  stroke: white;
  fill-opacity: 0.5;
}
.bubble {
  fill-opacity: .75;
  stroke: #fff;
}
// flow map
path.arc {
  pointer-events: none;
  fill: none;
  stroke: #000;
  display: none;
}

#cells g:hover path.arc {
  display: inherit;
}


// légende
.legend {
  padding: 10px 10px;
  font: 9.3px sans-serif;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.Tleg {
  font-size: 12px;
  line-height: 0.75vw ;
}



// graphiques
.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
}

.tick line{
opacity: 0.2;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.dots{
  fill : #EFEBE5 ;
  stroke-width :1.5px ;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
}


// ??
.highlight{
  background-color : rgba(171, 15, 49, .2) ;
}



  

  



