<table id="acvtable" class="display" style="width:100%">
<thead>
<tr>
<th>Municipality</th>
<th>Code</th>
<th>Survey name</th>
<th>Correspondence type</th>
</tr>
</thead>
<tbody>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/albi?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Albi</a></td>
<td data-label="Code">81004</td>
<td data-label="Survey name">Albi, 2011</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/alencon?m1=2&m2=2&m3=1&m4=nb&t=14&s=501" target="_blank">Saint-Lô</a></td>
<td data-label="Code">50502</td>
<td data-label="Survey name">Alençon St-Lô, 2018</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/alencon?m1=2&m2=2&m3=1&m4=nb&t=14&s=601" target="_blank">Alençon</a></td>
<td data-label="Code">61001</td>
<td data-label="Survey name">Alençon St-Lô, 2018</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/alencon?m1=2&m2=2&m3=1&m4=nb&t=14&s=607" target="_blank">Argentan</a></td>
<td data-label="Code">61006</td>
<td data-label="Survey name">Alençon St-Lô, 2018</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/alencon?m1=2&m2=2&m3=1&m4=nb&t=14&s=611" target="_blank">Flers</a></td>
<td data-label="Code">61169</td>
<td data-label="Survey name">Alençon St-Lô, 2018</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/angouleme?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Angoulême</a></td>
<td data-label="Code">16015</td>
<td data-label="Survey name">Angoulême, 2012</td>
<td data-label="Correspondence type">Particular case</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/annecy?m1=2&m2=2&m3=1&m4=nb&t=14&s=403" target="_blank">Rumilly</a></td>
<td data-label="Code">74225</td>
<td data-label="Survey name">Annecy, 2017</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/bayonne?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Bayonne</a></td>
<td data-label="Code">64102</td>
<td data-label="Survey name">Bayonne, 2010</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/besancon?m1=2&m2=2&m3=1&m4=nb&t=14&s=101" target="_blank">Besançon</a></td>
<td data-label="Code">25056</td>
<td data-label="Survey name">Besançon, 2018</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/beziers?m1=2&m2=2&m3=1&m4=nb&t=14&s=101" target="_blank">Béziers</a></td>
<td data-label="Code">34032</td>
<td data-label="Survey name">Béziers, 2014</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/beziers?m1=2&m2=2&m3=1&m4=nb&t=14&s=117" target="_blank">Agde</a></td>
<td data-label="Code">34003</td>
<td data-label="Survey name">Béziers, 2014</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/bordeaux?m1=2&m2=2&m3=1&m4=nb&t=14&s=102" target="_blank">Libourne</a></td>
<td data-label="Code">33243</td>
<td data-label="Survey name">Bordeaux, 2009</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/caen?m1=2&m2=2&m3=1&m4=nb&t=14&s=218" target="_blank">Lisieux</a></td>
<td data-label="Code">14366</td>
<td data-label="Survey name">Caen, 2011</td>
<td data-label="Correspondence type">Particular case</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/caen?m1=2&m2=2&m3=1&m4=nb&t=14&s=225" target="_blank">Vire Normandie</a></td>
<td data-label="Code">14762</td>
<td data-label="Survey name">Caen, 2011</td>
<td data-label="Correspondence type">Particular case</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/carcassonne?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Carcassonne</a></td>
<td data-label="Code">11069</td>
<td data-label="Survey name">Carcassonne, 2015</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/cherbourg?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Cherbourg-en-Cotentin</a></td>
<td data-label="Code">50129</td>
<td data-label="Survey name">Cherbourg, 2016</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/clermont-ferrand?m1=2&m2=2&m3=1&m4=nb&t=14&s=128" target="_blank">Riom</a></td>
<td data-label="Code">63300</td>
<td data-label="Survey name">Clermont-Ferrand, 2012</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/clermont-ferrand?m1=2&m2=2&m3=1&m4=nb&t=14&s=203" target="_blank">Issoire</a></td>
<td data-label="Code">63178</td>
<td data-label="Survey name">Clermont-Ferrand, 2012</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/clermont-ferrand?m1=2&m2=2&m3=1&m4=nb&t=14&s=210" target="_blank">Thiers</a></td>
<td data-label="Code">63430</td>
<td data-label="Survey name">Clermont-Ferrand, 2012</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/clermont-ferrand?m1=2&m2=2&m3=1&m4=nb&t=14&s=219" target="_blank">Vichy</a></td>
<td data-label="Code">03310</td>
<td data-label="Survey name">Clermont-Ferrand, 2012</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/creil?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Creil</a></td>
<td data-label="Code">60175</td>
<td data-label="Survey name">Creil, 2017</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/creil?m1=2&m2=2&m3=1&m4=nb&t=14&s=024" target="_blank">Senlis</a></td>
<td data-label="Code">60612</td>
<td data-label="Survey name">Creil, 2017</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/douai?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Douai</a></td>
<td data-label="Code">59178</td>
<td data-label="Survey name">Douai, 2012</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/dunkerque?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Dunkerque</a></td>
<td data-label="Code">59183</td>
<td data-label="Survey name">Dunkerque, 2015</td>
<td data-label="Correspondence type">Particular case</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/grenoble?m1=2&m2=2&m3=1&m4=nb&t=14&s=501" target="_blank">Voiron</a></td>
<td data-label="Code">38563</td>
<td data-label="Survey name">Grenoble, 2010</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7704" target="_blank">Meaux</a></td>
<td data-label="Code">77284</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7706" target="_blank">Coulommiers</a></td>
<td data-label="Code">77131</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7711" target="_blank">Melun</a></td>
<td data-label="Code">77288</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7713" target="_blank">Montereau-Fault-Yonne</a></td>
<td data-label="Code">77305</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7714" target="_blank">Avon</a></td>
<td data-label="Code">77014</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7714" target="_blank">Fontainebleau</a></td>
<td data-label="Code">77186</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7715" target="_blank">Nemours</a></td>
<td data-label="Code">77333</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7801" target="_blank">Sartrouville</a></td>
<td data-label="Code">78586</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7805" target="_blank">Poissy</a></td>
<td data-label="Code">78498</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7806" target="_blank">Meulan-en-Yvelines</a></td>
<td data-label="Code">78401</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7806" target="_blank">Les Mureaux</a></td>
<td data-label="Code">78440</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7807" target="_blank">Mantes-la-Jolie</a></td>
<td data-label="Code">78361</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7808" target="_blank">Limay</a></td>
<td data-label="Code">78335</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7815" target="_blank">Rambouillet</a></td>
<td data-label="Code">78517</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7816" target="_blank">Trappes</a></td>
<td data-label="Code">78621</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9101" target="_blank">Évry-Courcouronnes</a></td>
<td data-label="Code">91228</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9103" target="_blank">Étampes</a></td>
<td data-label="Code">91223</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9104" target="_blank">Saint-Michel-sur-Orge</a></td>
<td data-label="Code">91570</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9105" target="_blank">Arpajon</a></td>
<td data-label="Code">91021</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9106" target="_blank">Corbeil-Essonnes</a></td>
<td data-label="Code">91174</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9503" target="_blank">Beaumont-sur-Oise</a></td>
<td data-label="Code">95052</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9503" target="_blank">Persan</a></td>
<td data-label="Code">95487</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9506" target="_blank">Gonesse</a></td>
<td data-label="Code">95277</td>
<td data-label="Survey name">Paris, 2010</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/la-reunion?m1=2&m2=2&m3=1&m4=nb&t=14&s=023" target="_blank">Saint-André</a></td>
<td data-label="Code">97409</td>
<td data-label="Survey name">La Réunion, 2016</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/la-reunion?m1=2&m2=2&m3=1&m4=nb&t=14&s=034" target="_blank">Saint-Joseph</a></td>
<td data-label="Code">97412</td>
<td data-label="Survey name">La Réunion, 2016</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/la-reunion?m1=2&m2=2&m3=1&m4=nb&t=14&s=045" target="_blank">Saint-Pierre</a></td>
<td data-label="Code">97416</td>
<td data-label="Survey name">La Réunion, 2016</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/la-reunion?m1=2&m2=2&m3=1&m4=nb&t=14&s=070" target="_blank">Le Port</a></td>
<td data-label="Code">97407</td>
<td data-label="Survey name">La Réunion, 2016</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/le-havre?m1=2&m2=2&m3=1&m4=nb&t=14&s=030" target="_blank">Fécamp</a></td>
<td data-label="Code">76259</td>
<td data-label="Survey name">Le Havre, 2018</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/longwy?m1=2&m2=2&m3=1&m4=nb&t=14&s=120" target="_blank">Longwy</a></td>
<td data-label="Code">54323</td>
<td data-label="Survey name">Longwy, 2014</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/lyon?m1=2&m2=2&m3=1&m4=nb&t=14&s=301" target="_blank">Bourgoin-Jallieu</a></td>
<td data-label="Code">38053</td>
<td data-label="Survey name">Lyon, 2015</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/lyon?m1=2&m2=2&m3=1&m4=nb&t=14&s=401" target="_blank">Vienne</a></td>
<td data-label="Code">38544</td>
<td data-label="Survey name">Lyon, 2015</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/lyon?m1=2&m2=2&m3=1&m4=nb&t=14&s=509" target="_blank">Tarare</a></td>
<td data-label="Code">69243</td>
<td data-label="Survey name">Lyon, 2015</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/lyon?m1=2&m2=2&m3=1&m4=nb&t=14&s=712" target="_blank">Ambérieu-en-Bugey</a></td>
<td data-label="Code">01004</td>
<td data-label="Survey name">Lyon, 2015</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/marseille?m1=2&m2=2&m3=1&m4=nb&t=14&s=133" target="_blank">Manosque</a></td>
<td data-label="Code">04112</td>
<td data-label="Survey name">Marseille, 2009</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/martinique?m1=2&m2=2&m3=1&m4=nb&t=14&s=006" target="_blank">Fort-de-France</a></td>
<td data-label="Code">97209</td>
<td data-label="Survey name">Martinique, 2014</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/martinique?m1=2&m2=2&m3=1&m4=nb&t=14&s=016" target="_blank">Le Lamentin</a></td>
<td data-label="Code">97213</td>
<td data-label="Survey name">Martinique, 2014</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/montpellier?m1=2&m2=2&m3=1&m4=nb&t=14&s=059" target="_blank">Lunel</a></td>
<td data-label="Code">34145</td>
<td data-label="Survey name">Montpellier, 2014</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/montpellier?m1=2&m2=2&m3=1&m4=nb&t=14&s=073" target="_blank">Sète</a></td>
<td data-label="Code">34301</td>
<td data-label="Survey name">Montpellier, 2014</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/nancy?m1=2&m2=2&m3=1&m4=nb&t=14&s=151" target="_blank">Toul</a></td>
<td data-label="Code">54528</td>
<td data-label="Survey name">Nancy, 2013</td>
<td data-label="Correspondence type">Particular case</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/nancy?m1=2&m2=2&m3=1&m4=nb&t=14&s=163" target="_blank">Lunéville</a></td>
<td data-label="Code">54329</td>
<td data-label="Survey name">Nancy, 2013</td>
<td data-label="Correspondence type">Particular case</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/nantes?m1=2&m2=2&m3=1&m4=nb&t=14&s=110" target="_blank">Saint-Nazaire</a></td>
<td data-label="Code">44184</td>
<td data-label="Survey name">Nantes, 2015</td>
<td data-label="Correspondence type">Particular case</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/nantes?m1=2&m2=2&m3=1&m4=nb&t=14&s=210" target="_blank">Châteaubriant</a></td>
<td data-label="Code">44036</td>
<td data-label="Survey name">Nantes, 2015</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/nice?m1=2&m2=2&m3=1&m4=nb&t=14&s=078" target="_blank">Vallauris</a></td>
<td data-label="Code">06155</td>
<td data-label="Survey name">Nice, 2009</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/nice?m1=2&m2=2&m3=1&m4=nb&t=14&s=084" target="_blank">Grasse</a></td>
<td data-label="Code">06069</td>
<td data-label="Survey name">Nice, 2009</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/niort?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Niort</a></td>
<td data-label="Code">79191</td>
<td data-label="Survey name">Niort, 2016</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/poitiers?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Poitiers</a></td>
<td data-label="Code">86194</td>
<td data-label="Survey name">Poitiers, 2018</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/quimper?m1=2&m2=2&m3=1&m4=nb&t=14&s=011" target="_blank">Quimper</a></td>
<td data-label="Code">29232</td>
<td data-label="Survey name">Quimper, 2013</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/rennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=047" target="_blank">Vitré</a></td>
<td data-label="Code">35360</td>
<td data-label="Survey name">Rennes, 2018</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/rennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=054" target="_blank">Redon</a></td>
<td data-label="Code">35236</td>
<td data-label="Survey name">Rennes, 2018</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/rennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=064" target="_blank">Saint-Malo</a></td>
<td data-label="Code">35288</td>
<td data-label="Survey name">Rennes, 2018</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/rennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=073" target="_blank">Fougères</a></td>
<td data-label="Code">35115</td>
<td data-label="Survey name">Rennes, 2018</td>
<td data-label="Correspondence type">Sub-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/rouen?m1=2&m2=2&m3=1&m4=nb&t=14&s=059" target="_blank">Louviers</a></td>
<td data-label="Code">27375</td>
<td data-label="Survey name">Rouen, 2017</td>
<td data-label="Correspondence type">Particular case</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/saint-brieuc?m1=2&m2=2&m3=1&m4=nb&t=14&s=015" target="_blank">Saint-Brieuc</a></td>
<td data-label="Code">22278</td>
<td data-label="Survey name">Saint-Brieuc, 2012</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/saint-etienne?m1=2&m2=2&m3=1&m4=nb&t=14&s=034" target="_blank">Montbrison</a></td>
<td data-label="Code">42147</td>
<td data-label="Survey name">Saint-Étienne, 2010</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/strasbourg?m1=2&m2=2&m3=1&m4=nb&t=14&s=050" target="_blank">Haguenau</a></td>
<td data-label="Code">67180</td>
<td data-label="Survey name">Strasbourg, 2009</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/strasbourg?m1=2&m2=2&m3=1&m4=nb&t=14&s=056" target="_blank">Saverne</a></td>
<td data-label="Code">67437</td>
<td data-label="Survey name">Strasbourg, 2009</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/thionville?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Thionville</a></td>
<td data-label="Code">57672</td>
<td data-label="Survey name">Thionville, 2012</td>
<td data-label="Correspondence type">Particular case</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/tours?m1=2&m2=2&m3=1&m4=nb&t=14&s=246" target="_blank">Chinon</a></td>
<td data-label="Code">37072</td>
<td data-label="Survey name">Tours, 2019</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/valence?m1=2&m2=2&m3=1&m4=nb&t=14&s=101" target="_blank">Valence</a></td>
<td data-label="Code">26362</td>
<td data-label="Survey name">Valence, 2014</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/valence?m1=2&m2=2&m3=1&m4=nb&t=14&s=116" target="_blank">Bourg-de-Péage</a></td>
<td data-label="Code">26057</td>
<td data-label="Survey name">Valence, 2014</td>
<td data-label="Correspondence type">Single-district municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/valence?m1=2&m2=2&m3=1&m4=nb&t=14&s=117" target="_blank">Romans-sur-Isère</a></td>
<td data-label="Code">26281</td>
<td data-label="Survey name">Valence, 2014</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/valenciennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Valenciennes</a></td>
<td data-label="Code">59606</td>
<td data-label="Survey name">Valenciennes, 2019</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

<tr>
<td data-label="Municipality"><a href = "/en/geoviz/valenciennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=021" target="_blank">Denain</a></td>
<td data-label="Code">59172</td>
<td data-label="Survey name">Valenciennes, 2019</td>
<td data-label="Correspondence type">Multi-districts municipality</td>
</tr>

</tbody>
</table>

