<table id="dtable" class="display" style="width:100%">
<thead>
<tr>
<th>City region</th>
<th>Year</th>
<th>Number of respondents</th>
<th>Number of weekdays trips</th>
<th>Number of hourly locations</th>
<th>Number of districts</th>
<th>District size in km². Median area (min-max)</th>
<th>Number of respondents per district. Median (min-max) at 3am</th>
<th>Number of respondents per district. Median (min-max) at 3pm</th>
</tr>
</thead>
<tbody>

<tr>
<td data-label="City region">Albi region</td>
<td data-label="Year">2011</td>
<td data-label="Number of respondents">  2,339</td>
<td data-label="Number of weekdays trips">  9,171</td>
<td data-label="Number of hourly locations">   52,709</td>
<td data-label="Number of districts">15</td>
<td data-label="District size in km². Median area (min-max)">7 (1.3-54)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">155 (148-160)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">119 (77-288)</td>
</tr>

<tr>
<td data-label="City region">Alençon region</td>
<td data-label="Year">2018</td>
<td data-label="Number of respondents">  6,520</td>
<td data-label="Number of weekdays trips"> 30,315</td>
<td data-label="Number of hourly locations">  148,702</td>
<td data-label="Number of districts">46</td>
<td data-label="District size in km². Median area (min-max)">145 (1.9-435)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">140 (131-154)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">118 (78-231)</td>
</tr>

<tr>
<td data-label="City region">Amiens region</td>
<td data-label="Year">2010</td>
<td data-label="Number of respondents">  7,097</td>
<td data-label="Number of weekdays trips"> 30,933</td>
<td data-label="Number of hourly locations">  162,293</td>
<td data-label="Number of districts">45</td>
<td data-label="District size in km². Median area (min-max)">13 (0.8-410)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">145 (127-238)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">128 (76-443)</td>
</tr>

<tr>
<td data-label="City region">Angers region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents">  3,983</td>
<td data-label="Number of weekdays trips"> 18,399</td>
<td data-label="Number of hourly locations">   90,032</td>
<td data-label="Number of districts">28</td>
<td data-label="District size in km². Median area (min-max)">17 (2-111)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">138 (124-160)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">111 (63-258)</td>
</tr>

<tr>
<td data-label="City region">Angoulême region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents">  2,684</td>
<td data-label="Number of weekdays trips"> 11,300</td>
<td data-label="Number of hourly locations">   60,691</td>
<td data-label="Number of districts">18</td>
<td data-label="District size in km². Median area (min-max)">14 (1.5-151)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">146 (139-172)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">130 (75-249)</td>
</tr>

<tr>
<td data-label="City region">Annecy region</td>
<td data-label="Year">2017</td>
<td data-label="Number of respondents">  4,953</td>
<td data-label="Number of weekdays trips"> 22,944</td>
<td data-label="Number of hourly locations">  110,641</td>
<td data-label="Number of districts">34</td>
<td data-label="District size in km². Median area (min-max)">27 (0.9-486)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">143 (130-172)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">124 (83-246)</td>
</tr>

<tr>
<td data-label="City region">Annemasse region</td>
<td data-label="Year">2016</td>
<td data-label="Number of respondents">  5,905</td>
<td data-label="Number of weekdays trips"> 26,700</td>
<td data-label="Number of hourly locations">  123,973</td>
<td data-label="Number of districts">42</td>
<td data-label="District size in km². Median area (min-max)">36 (0.8-232)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">137 (121-213)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">96 (66-161)</td>
</tr>

<tr>
<td data-label="City region">Bayonne region</td>
<td data-label="Year">2010</td>
<td data-label="Number of respondents">  7,387</td>
<td data-label="Number of weekdays trips"> 28,716</td>
<td data-label="Number of hourly locations">  170,184</td>
<td data-label="Number of districts">50</td>
<td data-label="District size in km². Median area (min-max)">20 (0.8-642)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">147 (129-171)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">122 (86-436)</td>
</tr>

<tr>
<td data-label="City region">Besançon region</td>
<td data-label="Year">2018</td>
<td data-label="Number of respondents">  3,980</td>
<td data-label="Number of weekdays trips"> 17,568</td>
<td data-label="Number of hourly locations">   90,654</td>
<td data-label="Number of districts">28</td>
<td data-label="District size in km². Median area (min-max)">5 (0.5-191)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">142 (127-157)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">104 (74-451)</td>
</tr>

<tr>
<td data-label="City region">Béziers region</td>
<td data-label="Year">2014</td>
<td data-label="Number of respondents">  4,212</td>
<td data-label="Number of weekdays trips"> 18,661</td>
<td data-label="Number of hourly locations">   95,887</td>
<td data-label="Number of districts">30</td>
<td data-label="District size in km². Median area (min-max)">52 (1.2-822)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">138 (130-153)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">117 (82-204)</td>
</tr>

<tr>
<td data-label="City region">Bogotá region</td>
<td data-label="Year">2019</td>
<td data-label="Number of respondents"> 49,757</td>
<td data-label="Number of weekdays trips">127,405</td>
<td data-label="Number of hourly locations">1,126,901</td>
<td data-label="Number of districts">133</td>
<td data-label="District size in km². Median area (min-max)">4 (0.8-15)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">365 (46-729)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">323 (70-1453)</td>
</tr>

<tr>
<td data-label="City region">Bordeaux region</td>
<td data-label="Year">2009</td>
<td data-label="Number of respondents"> 13,793</td>
<td data-label="Number of weekdays trips"> 60,641</td>
<td data-label="Number of hourly locations">  321,385</td>
<td data-label="Number of districts">95</td>
<td data-label="District size in km². Median area (min-max)">10 (0.4-1206)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">142 (124-216)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">127 (61-293)</td>
</tr>

<tr>
<td data-label="City region">Brest region</td>
<td data-label="Year">2018</td>
<td data-label="Number of respondents">  6,518</td>
<td data-label="Number of weekdays trips"> 29,237</td>
<td data-label="Number of hourly locations">  151,004</td>
<td data-label="Number of districts">46</td>
<td data-label="District size in km². Median area (min-max)">13 (0.9-236)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">139 (125-161)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">115 (73-301)</td>
</tr>

<tr>
<td data-label="City region">Caen region</td>
<td data-label="Year">2011</td>
<td data-label="Number of respondents"> 10,000</td>
<td data-label="Number of weekdays trips"> 43,194</td>
<td data-label="Number of hourly locations">  232,512</td>
<td data-label="Number of districts">67</td>
<td data-label="District size in km². Median area (min-max)">15 (0.5-647)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">151 (125-165)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">123 (70-485)</td>
</tr>

<tr>
<td data-label="City region">Carcassonne region</td>
<td data-label="Year">2015</td>
<td data-label="Number of respondents">  2,891</td>
<td data-label="Number of weekdays trips"> 11,915</td>
<td data-label="Number of hourly locations">   66,165</td>
<td data-label="Number of districts">19</td>
<td data-label="District size in km². Median area (min-max)">36 (0.8-246)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">153 (140-159)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">119 (90-306)</td>
</tr>

<tr>
<td data-label="City region">Cherbourg region</td>
<td data-label="Year">2016</td>
<td data-label="Number of respondents">  4,207</td>
<td data-label="Number of weekdays trips"> 18,978</td>
<td data-label="Number of hourly locations">   97,670</td>
<td data-label="Number of districts">28</td>
<td data-label="District size in km². Median area (min-max)">42 (1.3-231)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">150 (142-158)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">125 (88-337)</td>
</tr>

<tr>
<td data-label="City region">Clermont-Ferrand region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents">  8,052</td>
<td data-label="Number of weekdays trips"> 34,182</td>
<td data-label="Number of hourly locations">  187,334</td>
<td data-label="Number of districts">56</td>
<td data-label="District size in km². Median area (min-max)">39 (0.7-471)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">144 (130-159)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">112 (71-373)</td>
</tr>

<tr>
<td data-label="City region">Creil region</td>
<td data-label="Year">2017</td>
<td data-label="Number of respondents">  4,581</td>
<td data-label="Number of weekdays trips"> 18,956</td>
<td data-label="Number of hourly locations">   96,753</td>
<td data-label="Number of districts">31</td>
<td data-label="District size in km². Median area (min-max)">16 (1-144)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">146 (140-153)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">104 (60-199)</td>
</tr>

<tr>
<td data-label="City region">Dijon region</td>
<td data-label="Year">2016</td>
<td data-label="Number of respondents">  4,372</td>
<td data-label="Number of weekdays trips"> 18,685</td>
<td data-label="Number of hourly locations">  100,771</td>
<td data-label="Number of districts">30</td>
<td data-label="District size in km². Median area (min-max)">6 (0.7-241)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">142 (126-179)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">120 (67-341)</td>
</tr>

<tr>
<td data-label="City region">Douai region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents">  5,344</td>
<td data-label="Number of weekdays trips"> 23,883</td>
<td data-label="Number of hourly locations">  115,844</td>
<td data-label="Number of districts">38</td>
<td data-label="District size in km². Median area (min-max)">8 (1-54)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">139 (127-160)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">110 (64-214)</td>
</tr>

<tr>
<td data-label="City region">Dunkerque region</td>
<td data-label="Year">2015</td>
<td data-label="Number of respondents">  4,537</td>
<td data-label="Number of weekdays trips"> 22,491</td>
<td data-label="Number of hourly locations">  103,897</td>
<td data-label="Number of districts">32</td>
<td data-label="District size in km². Median area (min-max)">9 (1.1-117)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">140 (128-154)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">114 (71-289)</td>
</tr>

<tr>
<td data-label="City region">Fort-de-France region</td>
<td data-label="Year">2014</td>
<td data-label="Number of respondents">  4,179</td>
<td data-label="Number of weekdays trips"> 14,005</td>
<td data-label="Number of hourly locations">   98,073</td>
<td data-label="Number of districts">24</td>
<td data-label="District size in km². Median area (min-max)">36 (4.7-129)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">156 (129-283)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">146 (110-296)</td>
</tr>

<tr>
<td data-label="City region">Grenoble region</td>
<td data-label="Year">2010</td>
<td data-label="Number of respondents"> 13,834</td>
<td data-label="Number of weekdays trips"> 63,336</td>
<td data-label="Number of hourly locations">  318,862</td>
<td data-label="Number of districts">97</td>
<td data-label="District size in km². Median area (min-max)">14 (0.2-834)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">139 (124-273)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">107 (50-471)</td>
</tr>

<tr>
<td data-label="City region">La Rochelle region</td>
<td data-label="Year">2011</td>
<td data-label="Number of respondents">  2,902</td>
<td data-label="Number of weekdays trips"> 12,203</td>
<td data-label="Number of hourly locations">   66,249</td>
<td data-label="Number of districts">19</td>
<td data-label="District size in km². Median area (min-max)">8 (1.3-40)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">153 (137-164)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">120 (75-401)</td>
</tr>

<tr>
<td data-label="City region">Le Havre region</td>
<td data-label="Year">2018</td>
<td data-label="Number of respondents">  6,540</td>
<td data-label="Number of weekdays trips"> 29,029</td>
<td data-label="Number of hourly locations">  151,581</td>
<td data-label="Number of districts">43</td>
<td data-label="District size in km². Median area (min-max)">25 (0.7-256)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">141 (127-262)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">108 (72-434)</td>
</tr>

<tr>
<td data-label="City region">Lille region</td>
<td data-label="Year">2016</td>
<td data-label="Number of respondents">  7,949</td>
<td data-label="Number of weekdays trips"> 38,180</td>
<td data-label="Number of hourly locations">  181,210</td>
<td data-label="Number of districts">57</td>
<td data-label="District size in km². Median area (min-max)">5 (1-56)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">138 (123-156)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">118 (76-323)</td>
</tr>

<tr>
<td data-label="City region">Longwy region</td>
<td data-label="Year">2014</td>
<td data-label="Number of respondents">  3,347</td>
<td data-label="Number of weekdays trips"> 13,178</td>
<td data-label="Number of hourly locations">   70,548</td>
<td data-label="Number of districts">22</td>
<td data-label="District size in km². Median area (min-max)">32 (2.2-200)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">152 (145-160)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">108 (79-155)</td>
</tr>

<tr>
<td data-label="City region">Lyon region</td>
<td data-label="Year">2015</td>
<td data-label="Number of respondents"> 24,070</td>
<td data-label="Number of weekdays trips"> 99,585</td>
<td data-label="Number of hourly locations">  557,575</td>
<td data-label="Number of districts">169</td>
<td data-label="District size in km². Median area (min-max)">10 (0.4-346)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">140 (121-251)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">122 (68-445)</td>
</tr>

<tr>
<td data-label="City region">Marseille region</td>
<td data-label="Year">2009</td>
<td data-label="Number of respondents"> 19,380</td>
<td data-label="Number of weekdays trips"> 87,031</td>
<td data-label="Number of hourly locations">  449,111</td>
<td data-label="Number of districts">137</td>
<td data-label="District size in km². Median area (min-max)">18 (0.3-342)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">141 (117-165)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">118 (66-401)</td>
</tr>

<tr>
<td data-label="City region">Metz region</td>
<td data-label="Year">2017</td>
<td data-label="Number of respondents">  6,490</td>
<td data-label="Number of weekdays trips"> 31,131</td>
<td data-label="Number of hourly locations">  144,399</td>
<td data-label="Number of districts">44</td>
<td data-label="District size in km². Median area (min-max)">13 (1.1-176)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">142 (129-238)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">112 (70-414)</td>
</tr>

<tr>
<td data-label="City region">Montpellier region</td>
<td data-label="Year">2014</td>
<td data-label="Number of respondents"> 11,433</td>
<td data-label="Number of weekdays trips"> 52,387</td>
<td data-label="Number of hourly locations">  263,639</td>
<td data-label="Number of districts">80</td>
<td data-label="District size in km². Median area (min-max)">10 (0.3-547)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">140 (126-236)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">114 (71-421)</td>
</tr>

<tr>
<td data-label="City region">Montréal region</td>
<td data-label="Year">2013</td>
<td data-label="Number of respondents">155,853</td>
<td data-label="Number of weekdays trips">404,563</td>
<td data-label="Number of hourly locations">3,689,524</td>
<td data-label="Number of districts">113</td>
<td data-label="District size in km². Median area (min-max)">36 (1-762)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">1069 (116-4551)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">862 (109-9656)</td>
</tr>

<tr>
<td data-label="City region">Nancy region</td>
<td data-label="Year">2013</td>
<td data-label="Number of respondents">  9,657</td>
<td data-label="Number of weekdays trips"> 40,664</td>
<td data-label="Number of hourly locations">  221,489</td>
<td data-label="Number of districts">68</td>
<td data-label="District size in km². Median area (min-max)">17 (0.6-407)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">142 (124-163)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">110 (57-542)</td>
</tr>

<tr>
<td data-label="City region">Nantes region</td>
<td data-label="Year">2015</td>
<td data-label="Number of respondents"> 17,357</td>
<td data-label="Number of weekdays trips"> 81,924</td>
<td data-label="Number of hourly locations">  401,110</td>
<td data-label="Number of districts">123</td>
<td data-label="District size in km². Median area (min-max)">21 (0.6-331)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">138 (113-195)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">117 (66-389)</td>
</tr>

<tr>
<td data-label="City region">Nice region</td>
<td data-label="Year">2009</td>
<td data-label="Number of respondents"> 14,989</td>
<td data-label="Number of weekdays trips"> 58,239</td>
<td data-label="Number of hourly locations">  346,893</td>
<td data-label="Number of districts">104</td>
<td data-label="District size in km². Median area (min-max)">5 (0.4-505)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">143 (128-163)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">126 (65-384)</td>
</tr>

<tr>
<td data-label="City region">Nîmes region</td>
<td data-label="Year">2015</td>
<td data-label="Number of respondents">  4,519</td>
<td data-label="Number of weekdays trips"> 18,598</td>
<td data-label="Number of hourly locations">  102,599</td>
<td data-label="Number of districts">31</td>
<td data-label="District size in km². Median area (min-max)">8 (0.3-152)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">144 (132-168)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">114 (75-327)</td>
</tr>

<tr>
<td data-label="City region">Niort region</td>
<td data-label="Year">2016</td>
<td data-label="Number of respondents">  2,869</td>
<td data-label="Number of weekdays trips"> 12,705</td>
<td data-label="Number of hourly locations">   65,026</td>
<td data-label="Number of districts">19</td>
<td data-label="District size in km². Median area (min-max)">15 (1.1-156)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">150 (142-160)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">130 (83-226)</td>
</tr>

<tr>
<td data-label="City region">Ottawa-Gatineau region</td>
<td data-label="Year">2011</td>
<td data-label="Number of respondents"> 48,767</td>
<td data-label="Number of weekdays trips">149,147</td>
<td data-label="Number of hourly locations">1,159,530</td>
<td data-label="Number of districts">26</td>
<td data-label="District size in km². Median area (min-max)">58 (2.6-1278)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">1792 (400-4367)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">1566 (338-4695)</td>
</tr>

<tr>
<td data-label="City region">Paris region</td>
<td data-label="Year">2010</td>
<td data-label="Number of respondents"> 26,312</td>
<td data-label="Number of weekdays trips">124,258</td>
<td data-label="Number of hourly locations">  605,074</td>
<td data-label="Number of districts">109</td>
<td data-label="District size in km². Median area (min-max)">26 (3-1324)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">235 (129-420)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">204 (86-746)</td>
</tr>

<tr>
<td data-label="City region">Poitiers region</td>
<td data-label="Year">2018</td>
<td data-label="Number of respondents">  4,106</td>
<td data-label="Number of weekdays trips"> 17,305</td>
<td data-label="Number of hourly locations">   93,297</td>
<td data-label="Number of districts">28</td>
<td data-label="District size in km². Median area (min-max)">51 (1.1-228)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">140 (127-255)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">104 (60-450)</td>
</tr>

<tr>
<td data-label="City region">Québec region</td>
<td data-label="Year">2011</td>
<td data-label="Number of respondents"> 48,660</td>
<td data-label="Number of weekdays trips">135,788</td>
<td data-label="Number of hourly locations">1,128,494</td>
<td data-label="Number of districts">69</td>
<td data-label="District size in km². Median area (min-max)">16 (1.5-697)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">666 (301-1553)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">527 (179-2415)</td>
</tr>

<tr>
<td data-label="City region">Quimper region</td>
<td data-label="Year">2013</td>
<td data-label="Number of respondents">  4,696</td>
<td data-label="Number of weekdays trips"> 17,291</td>
<td data-label="Number of hourly locations">  108,273</td>
<td data-label="Number of districts">30</td>
<td data-label="District size in km². Median area (min-max)">57 (2.5-260)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">152 (142-200)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">130 (96-285)</td>
</tr>

<tr>
<td data-label="City region">Rennes region</td>
<td data-label="Year">2018</td>
<td data-label="Number of respondents">  9,317</td>
<td data-label="Number of weekdays trips"> 44,004</td>
<td data-label="Number of hourly locations">  214,867</td>
<td data-label="Number of districts">68</td>
<td data-label="District size in km². Median area (min-max)">55 (0.8-466)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">136 (118-159)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">106 (64-379)</td>
</tr>

<tr>
<td data-label="City region">Rouen region</td>
<td data-label="Year">2017</td>
<td data-label="Number of respondents">  8,905</td>
<td data-label="Number of weekdays trips"> 38,146</td>
<td data-label="Number of hourly locations">  202,329</td>
<td data-label="Number of districts">63</td>
<td data-label="District size in km². Median area (min-max)">15 (1.1-231)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">140 (118-166)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">108 (59-295)</td>
</tr>

<tr>
<td data-label="City region">Saguenay region</td>
<td data-label="Year">2015</td>
<td data-label="Number of respondents"> 13,942</td>
<td data-label="Number of weekdays trips"> 41,229</td>
<td data-label="Number of hourly locations">  327,391</td>
<td data-label="Number of districts">21</td>
<td data-label="District size in km². Median area (min-max)">26 (3.2-616)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">667 (456-760)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">601 (326-1200)</td>
</tr>

<tr>
<td data-label="City region">Saint-Brieuc region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents">  3,570</td>
<td data-label="Number of weekdays trips"> 14,556</td>
<td data-label="Number of hourly locations">   80,240</td>
<td data-label="Number of districts">22</td>
<td data-label="District size in km². Median area (min-max)">8 (1.1-35)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">152 (146-245)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">124 (71-377)</td>
</tr>

<tr>
<td data-label="City region">Saint-Denis region</td>
<td data-label="Year">2016</td>
<td data-label="Number of respondents"> 13,801</td>
<td data-label="Number of weekdays trips"> 53,363</td>
<td data-label="Number of hourly locations">  324,660</td>
<td data-label="Number of districts">99</td>
<td data-label="District size in km². Median area (min-max)">11 (0.6-275)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">139 (121-159)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">124 (72-317)</td>
</tr>

<tr>
<td data-label="City region">Saint-Étienne region</td>
<td data-label="Year">2010</td>
<td data-label="Number of respondents">  8,525</td>
<td data-label="Number of weekdays trips"> 38,576</td>
<td data-label="Number of hourly locations">  195,223</td>
<td data-label="Number of districts">52</td>
<td data-label="District size in km². Median area (min-max)">30 (1.2-345)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">156 (137-220)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">127 (78-331)</td>
</tr>

<tr>
<td data-label="City region">Santiago region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents"> 29,733</td>
<td data-label="Number of weekdays trips"> 75,733</td>
<td data-label="Number of hourly locations">  685,001</td>
<td data-label="Number of districts">185</td>
<td data-label="District size in km². Median area (min-max)">3 (0.7-855)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">156 (93-412)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">121 (58-1130)</td>
</tr>

<tr>
<td data-label="City region">São Paulo region</td>
<td data-label="Year">2017</td>
<td data-label="Number of respondents"> 71,866</td>
<td data-label="Number of weekdays trips">152,975</td>
<td data-label="Number of hourly locations">1,690,002</td>
<td data-label="Number of districts">259</td>
<td data-label="District size in km². Median area (min-max)">11 (1.3-522)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">146 (60-1540)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">162 (40-1870)</td>
</tr>

<tr>
<td data-label="City region">Sherbrooke region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents"> 19,908</td>
<td data-label="Number of weekdays trips"> 58,361</td>
<td data-label="Number of hourly locations">  456,828</td>
<td data-label="Number of districts">28</td>
<td data-label="District size in km². Median area (min-max)">22 (1.7-357)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">668 (533-1245)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">504 (329-1517)</td>
</tr>

<tr>
<td data-label="City region">Strasbourg region</td>
<td data-label="Year">2009</td>
<td data-label="Number of respondents"> 10,052</td>
<td data-label="Number of weekdays trips"> 46,935</td>
<td data-label="Number of hourly locations">  231,463</td>
<td data-label="Number of districts">67</td>
<td data-label="District size in km². Median area (min-max)">35 (0.6-581)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">145 (128-225)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">123 (78-284)</td>
</tr>

<tr>
<td data-label="City region">Thionville region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents">  3,609</td>
<td data-label="Number of weekdays trips"> 15,676</td>
<td data-label="Number of hourly locations">   75,299</td>
<td data-label="Number of districts">22</td>
<td data-label="District size in km². Median area (min-max)">7 (0.6-62)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">164 (155-173)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">106 (80-243)</td>
</tr>

<tr>
<td data-label="City region">Toulouse region</td>
<td data-label="Year">2013</td>
<td data-label="Number of respondents"> 11,141</td>
<td data-label="Number of weekdays trips"> 48,919</td>
<td data-label="Number of hourly locations">  257,168</td>
<td data-label="Number of districts">66</td>
<td data-label="District size in km². Median area (min-max)">11 (0.9-237)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">154 (128-331)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">128 (64-530)</td>
</tr>

<tr>
<td data-label="City region">Tours region</td>
<td data-label="Year">2019</td>
<td data-label="Number of respondents">  7,624</td>
<td data-label="Number of weekdays trips"> 33,388</td>
<td data-label="Number of hourly locations">  175,782</td>
<td data-label="Number of districts">54</td>
<td data-label="District size in km². Median area (min-max)">43 (0.5-637)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">139 (122-160)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">119 (78-279)</td>
</tr>

<tr>
<td data-label="City region">Trois-Rivières region</td>
<td data-label="Year">2011</td>
<td data-label="Number of respondents"> 18,936</td>
<td data-label="Number of weekdays trips"> 50,687</td>
<td data-label="Number of hourly locations">  433,505</td>
<td data-label="Number of districts">28</td>
<td data-label="District size in km². Median area (min-max)">62 (1.9-305)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">562 (422-1514)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">427 (284-1443)</td>
</tr>

<tr>
<td data-label="City region">Valence region</td>
<td data-label="Year">2014</td>
<td data-label="Number of respondents">  5,143</td>
<td data-label="Number of weekdays trips"> 23,230</td>
<td data-label="Number of hourly locations">  117,368</td>
<td data-label="Number of districts">36</td>
<td data-label="District size in km². Median area (min-max)">41 (1.3-477)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">142 (127-163)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">122 (71-326)</td>
</tr>

<tr>
<td data-label="City region">Valenciennes region</td>
<td data-label="Year">2019</td>
<td data-label="Number of respondents">  5,647</td>
<td data-label="Number of weekdays trips"> 23,138</td>
<td data-label="Number of hourly locations">  126,662</td>
<td data-label="Number of districts">41</td>
<td data-label="District size in km². Median area (min-max)">12 (0.9-51)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3am">137 (125-150)</td>
<td data-label="Number of respondents per district. Median (min-max) at 3pm">112 (75-255)</td>
</tr>

</tbody>
</table>

