<table id="itable" class="display" style="width:100%">
<thead>
<tr>
<th>City region</th>
<th>Year</th>
<th>Number of respondents</th>
<th>With socioprof. status at household/ indiv.level</th>
<th>With education data at household/ indiv. level</th>
<th>With household income</th>
<th>With occupational status</th>
<th>With activity at 6pm/at 3am</th>
<th>With travel mode at 6pm/at 3am</th>
</tr>
</thead>
<tbody>

<tr>
<td data-label="City region">Albi region</td>
<td data-label="Year">2011</td>
<td data-label="Number of respondents">  2,339</td>
<td data-label="With socioprof. status at household/ indiv.level"> 2,292/</br> 2,205</td>
<td data-label="With education data at household/ indiv. level"> 2,292/</br> 2,205</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  2,298</td>
<td data-label="With activity at 6pm/at 3am">  2,130/</br>  2,325</td>
<td data-label="With travel mode at 6pm/at 3am">  1,802/</br>  1,998</td>
</tr>

<tr>
<td data-label="City region">Alençon region</td>
<td data-label="Year">2018</td>
<td data-label="Number of respondents">  6,520</td>
<td data-label="With socioprof. status at household/ indiv.level"> 6,443/</br> 6,313</td>
<td data-label="With education data at household/ indiv. level"> 6,443/</br> 6,313</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  6,399</td>
<td data-label="With activity at 6pm/at 3am">  6,003/</br>  6,489</td>
<td data-label="With travel mode at 6pm/at 3am">  5,168/</br>  5,662</td>
</tr>

<tr>
<td data-label="City region">Amiens region</td>
<td data-label="Year">2010</td>
<td data-label="Number of respondents">  7,097</td>
<td data-label="With socioprof. status at household/ indiv.level"> 6,773/</br> 6,384</td>
<td data-label="With education data at household/ indiv. level"> 6,768/</br> 6,364</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  7,054</td>
<td data-label="With activity at 6pm/at 3am">  6,560/</br>  7,066</td>
<td data-label="With travel mode at 6pm/at 3am">  5,609/</br>  6,127</td>
</tr>

<tr>
<td data-label="City region">Angers region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents">  3,983</td>
<td data-label="With socioprof. status at household/ indiv.level"> 3,840/</br> 3,611</td>
<td data-label="With education data at household/ indiv. level"> 3,844/</br> 3,617</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  3,917</td>
<td data-label="With activity at 6pm/at 3am">  3,597/</br>  3,965</td>
<td data-label="With travel mode at 6pm/at 3am">  3,187/</br>  3,569</td>
</tr>

<tr>
<td data-label="City region">Angoulême region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents">  2,684</td>
<td data-label="With socioprof. status at household/ indiv.level"> 2,617/</br> 2,489</td>
<td data-label="With education data at household/ indiv. level"> 2,617/</br> 2,489</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  2,635</td>
<td data-label="With activity at 6pm/at 3am">  2,442/</br>  2,673</td>
<td data-label="With travel mode at 6pm/at 3am">  2,145/</br>  2,380</td>
</tr>

<tr>
<td data-label="City region">Annecy region</td>
<td data-label="Year">2017</td>
<td data-label="Number of respondents">  4,953</td>
<td data-label="With socioprof. status at household/ indiv.level"> 4,885/</br> 4,712</td>
<td data-label="With education data at household/ indiv. level"> 4,889/</br> 4,717</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  4,901</td>
<td data-label="With activity at 6pm/at 3am">  4,428/</br>  4,917</td>
<td data-label="With travel mode at 6pm/at 3am">  3,823/</br>  4,327</td>
</tr>

<tr>
<td data-label="City region">Annemasse region</td>
<td data-label="Year">2016</td>
<td data-label="Number of respondents">  5,905</td>
<td data-label="With socioprof. status at household/ indiv.level"> 5,830/</br> 5,590</td>
<td data-label="With education data at household/ indiv. level"> 5,838/</br> 5,603</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  5,833</td>
<td data-label="With activity at 6pm/at 3am">  4,935/</br>  5,871</td>
<td data-label="With travel mode at 6pm/at 3am">  4,386/</br>  5,328</td>
</tr>

<tr>
<td data-label="City region">Bayonne region</td>
<td data-label="Year">2010</td>
<td data-label="Number of respondents">  7,387</td>
<td data-label="With socioprof. status at household/ indiv.level"> 7,328/</br> 6,944</td>
<td data-label="With education data at household/ indiv. level"> 6,874/</br> 6,395</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  7,246</td>
<td data-label="With activity at 6pm/at 3am">  6,858/</br>  7,374</td>
<td data-label="With travel mode at 6pm/at 3am">  5,691/</br>  6,215</td>
</tr>

<tr>
<td data-label="City region">Besançon region</td>
<td data-label="Year">2018</td>
<td data-label="Number of respondents">  3,980</td>
<td data-label="With socioprof. status at household/ indiv.level"> 3,776/</br> 3,590</td>
<td data-label="With education data at household/ indiv. level"> 3,777/</br> 3,591</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  3,947</td>
<td data-label="With activity at 6pm/at 3am">  3,657/</br>  3,965</td>
<td data-label="With travel mode at 6pm/at 3am">  3,222/</br>  3,537</td>
</tr>

<tr>
<td data-label="City region">Béziers region</td>
<td data-label="Year">2014</td>
<td data-label="Number of respondents">  4,212</td>
<td data-label="With socioprof. status at household/ indiv.level"> 4,154/</br> 4,068</td>
<td data-label="With education data at household/ indiv. level"> 4,140/</br> 4,047</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  4,011</td>
<td data-label="With activity at 6pm/at 3am">  3,910/</br>  4,204</td>
<td data-label="With travel mode at 6pm/at 3am">  3,371/</br>  3,672</td>
</tr>

<tr>
<td data-label="City region">Bogotá region</td>
<td data-label="Year">2019</td>
<td data-label="Number of respondents"> 49,757</td>
<td data-label="With socioprof. status at household/ indiv.level">-/</br>26,762</td>
<td data-label="With education data at household/ indiv. level">49,750/</br>49,756</td>
<td data-label="With household income"> 49,757</td>
<td data-label="With occupational status"> 48,038</td>
<td data-label="With activity at 6pm/at 3am"> 44,986/</br> 49,482</td>
<td data-label="With travel mode at 6pm/at 3am"> 36,012/</br> 40,688</td>
</tr>

<tr>
<td data-label="City region">Bordeaux region</td>
<td data-label="Year">2009</td>
<td data-label="Number of respondents"> 13,793</td>
<td data-label="With socioprof. status at household/ indiv.level">13,349/</br>12,465</td>
<td data-label="With education data at household/ indiv. level">12,510/</br>11,557</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status"> 13,596</td>
<td data-label="With activity at 6pm/at 3am"> 12,899/</br> 13,770</td>
<td data-label="With travel mode at 6pm/at 3am"> 11,267/</br> 12,156</td>
</tr>

<tr>
<td data-label="City region">Brest region</td>
<td data-label="Year">2018</td>
<td data-label="Number of respondents">  6,518</td>
<td data-label="With socioprof. status at household/ indiv.level"> 6,313/</br> 6,050</td>
<td data-label="With education data at household/ indiv. level"> 6,313/</br> 6,050</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  6,352</td>
<td data-label="With activity at 6pm/at 3am">  6,114/</br>  6,502</td>
<td data-label="With travel mode at 6pm/at 3am">  5,443/</br>  5,841</td>
</tr>

<tr>
<td data-label="City region">Caen region</td>
<td data-label="Year">2011</td>
<td data-label="Number of respondents"> 10,000</td>
<td data-label="With socioprof. status at household/ indiv.level"> 9,674/</br> 9,134</td>
<td data-label="With education data at household/ indiv. level"> 8,706/</br> 8,126</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  9,778</td>
<td data-label="With activity at 6pm/at 3am">  9,443/</br>  9,982</td>
<td data-label="With travel mode at 6pm/at 3am">  8,195/</br>  8,747</td>
</tr>

<tr>
<td data-label="City region">Carcassonne region</td>
<td data-label="Year">2015</td>
<td data-label="Number of respondents">  2,891</td>
<td data-label="With socioprof. status at household/ indiv.level"> 2,843/</br> 2,781</td>
<td data-label="With education data at household/ indiv. level"> 2,843/</br> 2,781</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  2,854</td>
<td data-label="With activity at 6pm/at 3am">  2,705/</br>  2,883</td>
<td data-label="With travel mode at 6pm/at 3am">  2,267/</br>  2,447</td>
</tr>

<tr>
<td data-label="City region">Cherbourg region</td>
<td data-label="Year">2016</td>
<td data-label="Number of respondents">  4,207</td>
<td data-label="With socioprof. status at household/ indiv.level"> 4,144/</br> 4,021</td>
<td data-label="With education data at household/ indiv. level"> 4,144/</br> 4,021</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  4,136</td>
<td data-label="With activity at 6pm/at 3am">  3,970/</br>  4,198</td>
<td data-label="With travel mode at 6pm/at 3am">  3,377/</br>  3,609</td>
</tr>

<tr>
<td data-label="City region">Clermont-Ferrand region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents">  8,052</td>
<td data-label="With socioprof. status at household/ indiv.level"> 7,776/</br> 7,387</td>
<td data-label="With education data at household/ indiv. level"> 7,777/</br> 7,388</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  7,907</td>
<td data-label="With activity at 6pm/at 3am">  7,619/</br>  8,044</td>
<td data-label="With travel mode at 6pm/at 3am">  6,609/</br>  7,051</td>
</tr>

<tr>
<td data-label="City region">Creil region</td>
<td data-label="Year">2017</td>
<td data-label="Number of respondents">  4,581</td>
<td data-label="With socioprof. status at household/ indiv.level"> 4,467/</br> 4,277</td>
<td data-label="With education data at household/ indiv. level"> 4,467/</br> 4,278</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  4,483</td>
<td data-label="With activity at 6pm/at 3am">  3,813/</br>  4,534</td>
<td data-label="With travel mode at 6pm/at 3am">  3,317/</br>  4,046</td>
</tr>

<tr>
<td data-label="City region">Dijon region</td>
<td data-label="Year">2016</td>
<td data-label="Number of respondents">  4,372</td>
<td data-label="With socioprof. status at household/ indiv.level"> 4,172/</br> 3,887</td>
<td data-label="With education data at household/ indiv. level"> 4,173/</br> 3,901</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  4,321</td>
<td data-label="With activity at 6pm/at 3am">  4,102/</br>  4,355</td>
<td data-label="With travel mode at 6pm/at 3am">  3,616/</br>  3,872</td>
</tr>

<tr>
<td data-label="City region">Douai region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents">  5,344</td>
<td data-label="With socioprof. status at household/ indiv.level"> 5,324/</br> 4,921</td>
<td data-label="With education data at household/ indiv. level"> 5,322/</br> 4,928</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  5,230</td>
<td data-label="With activity at 6pm/at 3am">  4,677/</br>  5,300</td>
<td data-label="With travel mode at 6pm/at 3am">  3,807/</br>  4,439</td>
</tr>

<tr>
<td data-label="City region">Dunkerque region</td>
<td data-label="Year">2015</td>
<td data-label="Number of respondents">  4,537</td>
<td data-label="With socioprof. status at household/ indiv.level"> 4,500/</br> 4,230</td>
<td data-label="With education data at household/ indiv. level"> 4,501/</br> 4,235</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  4,466</td>
<td data-label="With activity at 6pm/at 3am">  4,226/</br>  4,523</td>
<td data-label="With travel mode at 6pm/at 3am">  3,600/</br>  3,904</td>
</tr>

<tr>
<td data-label="City region">Fort-de-France region</td>
<td data-label="Year">2014</td>
<td data-label="Number of respondents">  4,179</td>
<td data-label="With socioprof. status at household/ indiv.level"> 4,163/</br> 3,849</td>
<td data-label="With education data at household/ indiv. level"> 4,164/</br> 3,855</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status"> 13,528</td>
<td data-label="With activity at 6pm/at 3am"> 12,810/</br> 13,803</td>
<td data-label="With travel mode at 6pm/at 3am"> 11,287/</br> 12,303</td>
</tr>

<tr>
<td data-label="City region">Grenoble region</td>
<td data-label="Year">2010</td>
<td data-label="Number of respondents"> 13,834</td>
<td data-label="With socioprof. status at household/ indiv.level">13,375/</br>12,338</td>
<td data-label="With education data at household/ indiv. level">13,355/</br>12,301</td>
<td data-label="With household income"> 24,449</td>
<td data-label="With occupational status"> 25,944</td>
<td data-label="With activity at 6pm/at 3am"> 23,485/</br> 26,280</td>
<td data-label="With travel mode at 6pm/at 3am"> 21,610/</br> 24,463</td>
</tr>

<tr>
<td data-label="City region">La Rochelle region</td>
<td data-label="Year">2011</td>
<td data-label="Number of respondents">  2,902</td>
<td data-label="With socioprof. status at household/ indiv.level"> 2,831/</br> 2,712</td>
<td data-label="With education data at household/ indiv. level"> 2,832/</br> 2,713</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status"> 13,557</td>
<td data-label="With activity at 6pm/at 3am"> 13,312/</br> 13,801</td>
<td data-label="With travel mode at 6pm/at 3am"> 10,398/</br> 10,904</td>
</tr>

<tr>
<td data-label="City region">Le Havre region</td>
<td data-label="Year">2018</td>
<td data-label="Number of respondents">  6,540</td>
<td data-label="With socioprof. status at household/ indiv.level"> 6,434/</br> 6,150</td>
<td data-label="With education data at household/ indiv. level"> 6,434/</br> 6,150</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  2,817</td>
<td data-label="With activity at 6pm/at 3am">  2,663/</br>  2,894</td>
<td data-label="With travel mode at 6pm/at 3am">  2,344/</br>  2,577</td>
</tr>

<tr>
<td data-label="City region">Lille region</td>
<td data-label="Year">2016</td>
<td data-label="Number of respondents">  7,949</td>
<td data-label="With socioprof. status at household/ indiv.level"> 7,458/</br> 6,797</td>
<td data-label="With education data at household/ indiv. level"> 7,436/</br> 6,752</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  6,440</td>
<td data-label="With activity at 6pm/at 3am">  6,150/</br>  6,523</td>
<td data-label="With travel mode at 6pm/at 3am">  5,202/</br>  5,587</td>
</tr>

<tr>
<td data-label="City region">Longwy region</td>
<td data-label="Year">2014</td>
<td data-label="Number of respondents">  3,347</td>
<td data-label="With socioprof. status at household/ indiv.level"> 3,290/</br> 3,193</td>
<td data-label="With education data at household/ indiv. level"> 3,296/</br> 3,206</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  7,825</td>
<td data-label="With activity at 6pm/at 3am">  7,244/</br>  7,913</td>
<td data-label="With travel mode at 6pm/at 3am">  6,345/</br>  7,023</td>
</tr>

<tr>
<td data-label="City region">Lyon region</td>
<td data-label="Year">2015</td>
<td data-label="Number of respondents"> 24,070</td>
<td data-label="With socioprof. status at household/ indiv.level">22,981/</br>21,433</td>
<td data-label="With education data at household/ indiv. level">22,986/</br>21,445</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  3,287</td>
<td data-label="With activity at 6pm/at 3am">  2,907/</br>  3,322</td>
<td data-label="With travel mode at 6pm/at 3am">  2,350/</br>  2,771</td>
</tr>

<tr>
<td data-label="City region">Marseille region</td>
<td data-label="Year">2009</td>
<td data-label="Number of respondents"> 19,380</td>
<td data-label="With socioprof. status at household/ indiv.level">19,122/</br>17,697</td>
<td data-label="With education data at household/ indiv. level">19,112/</br>17,626</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status"> 23,735</td>
<td data-label="With activity at 6pm/at 3am"> 22,448/</br> 24,008</td>
<td data-label="With travel mode at 6pm/at 3am"> 19,561/</br> 21,173</td>
</tr>

<tr>
<td data-label="City region">Metz region</td>
<td data-label="Year">2017</td>
<td data-label="Number of respondents">  6,490</td>
<td data-label="With socioprof. status at household/ indiv.level"> 6,321/</br> 5,969</td>
<td data-label="With education data at household/ indiv. level"> 6,319/</br> 5,962</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status"> 18,975</td>
<td data-label="With activity at 6pm/at 3am"> 18,116/</br> 19,339</td>
<td data-label="With travel mode at 6pm/at 3am"> 15,812/</br> 17,072</td>
</tr>

<tr>
<td data-label="City region">Montpellier region</td>
<td data-label="Year">2014</td>
<td data-label="Number of respondents"> 11,433</td>
<td data-label="With socioprof. status at household/ indiv.level">10,644/</br> 9,946</td>
<td data-label="With education data at household/ indiv. level">10,650/</br> 9,960</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  4,109</td>
<td data-label="With activity at 6pm/at 3am">  4,044/</br>  4,178</td>
<td data-label="With travel mode at 6pm/at 3am">  2,903/</br>  3,041</td>
</tr>

<tr>
<td data-label="City region">Montréal region</td>
<td data-label="Year">2013</td>
<td data-label="Number of respondents">155,853</td>
<td data-label="With socioprof. status at household/ indiv.level">-/</br>-</td>
<td data-label="With education data at household/ indiv. level">-/</br>-</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  6,423</td>
<td data-label="With activity at 6pm/at 3am">  5,801/</br>  6,447</td>
<td data-label="With travel mode at 6pm/at 3am">  5,022/</br>  5,681</td>
</tr>

<tr>
<td data-label="City region">Nancy region</td>
<td data-label="Year">2013</td>
<td data-label="Number of respondents">  9,657</td>
<td data-label="With socioprof. status at household/ indiv.level"> 9,100/</br> 8,511</td>
<td data-label="With education data at household/ indiv. level"> 9,110/</br> 8,520</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status"> 11,237</td>
<td data-label="With activity at 6pm/at 3am"> 10,644/</br> 11,405</td>
<td data-label="With travel mode at 6pm/at 3am">  9,340/</br> 10,122</td>
</tr>

<tr>
<td data-label="City region">Nantes region</td>
<td data-label="Year">2015</td>
<td data-label="Number of respondents"> 17,357</td>
<td data-label="With socioprof. status at household/ indiv.level">16,895/</br>16,060</td>
<td data-label="With education data at household/ indiv. level">16,908/</br>16,066</td>
<td data-label="With household income">155,853</td>
<td data-label="With occupational status">155,790</td>
<td data-label="With activity at 6pm/at 3am">152,262/</br>155,762</td>
<td data-label="With travel mode at 6pm/at 3am">119,949/</br>124,042</td>
</tr>

<tr>
<td data-label="City region">Nice region</td>
<td data-label="Year">2009</td>
<td data-label="Number of respondents"> 14,989</td>
<td data-label="With socioprof. status at household/ indiv.level">14,905/</br>14,021</td>
<td data-label="With education data at household/ indiv. level">12,742/</br>10,537</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  9,439</td>
<td data-label="With activity at 6pm/at 3am">  8,942/</br>  9,628</td>
<td data-label="With travel mode at 6pm/at 3am">  7,620/</br>  8,327</td>
</tr>

<tr>
<td data-label="City region">Nîmes region</td>
<td data-label="Year">2015</td>
<td data-label="Number of respondents">  4,519</td>
<td data-label="With socioprof. status at household/ indiv.level"> 4,432/</br> 4,137</td>
<td data-label="With education data at household/ indiv. level"> 4,428/</br> 4,124</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status"> 17,134</td>
<td data-label="With activity at 6pm/at 3am"> 16,045/</br> 17,314</td>
<td data-label="With travel mode at 6pm/at 3am"> 14,079/</br> 15,372</td>
</tr>

<tr>
<td data-label="City region">Niort region</td>
<td data-label="Year">2016</td>
<td data-label="Number of respondents">  2,869</td>
<td data-label="With socioprof. status at household/ indiv.level"> 2,805/</br> 2,732</td>
<td data-label="With education data at household/ indiv. level"> 2,805/</br> 2,732</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status"> 14,752</td>
<td data-label="With activity at 6pm/at 3am"> 13,960/</br> 14,963</td>
<td data-label="With travel mode at 6pm/at 3am"> 11,737/</br> 12,761</td>
</tr>

<tr>
<td data-label="City region">Ottawa-Gatineau region</td>
<td data-label="Year">2011</td>
<td data-label="Number of respondents"> 48,767</td>
<td data-label="With socioprof. status at household/ indiv.level">-/</br>-</td>
<td data-label="With education data at household/ indiv. level">-/</br>-</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  4,383</td>
<td data-label="With activity at 6pm/at 3am">  4,151/</br>  4,502</td>
<td data-label="With travel mode at 6pm/at 3am">  3,396/</br>  3,753</td>
</tr>

<tr>
<td data-label="City region">Paris region</td>
<td data-label="Year">2010</td>
<td data-label="Number of respondents"> 26,312</td>
<td data-label="With socioprof. status at household/ indiv.level">26,003/</br>23,814</td>
<td data-label="With education data at household/ indiv. level">25,936/</br>23,696</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  2,828</td>
<td data-label="With activity at 6pm/at 3am">  2,601/</br>  2,858</td>
<td data-label="With travel mode at 6pm/at 3am">  2,255/</br>  2,514</td>
</tr>

<tr>
<td data-label="City region">Poitiers region</td>
<td data-label="Year">2018</td>
<td data-label="Number of respondents">  4,106</td>
<td data-label="With socioprof. status at household/ indiv.level"> 3,730/</br> 3,603</td>
<td data-label="With education data at household/ indiv. level"> 3,730/</br> 3,603</td>
<td data-label="With household income"> 48,767</td>
<td data-label="With occupational status"> 48,767</td>
<td data-label="With activity at 6pm/at 3am"> 47,908/</br> 48,759</td>
<td data-label="With travel mode at 6pm/at 3am"> 38,777/</br> 39,756</td>
</tr>

<tr>
<td data-label="City region">Québec region</td>
<td data-label="Year">2011</td>
<td data-label="Number of respondents"> 48,660</td>
<td data-label="With socioprof. status at household/ indiv.level">-/</br>-</td>
<td data-label="With education data at household/ indiv. level">-/</br>-</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  4,045</td>
<td data-label="With activity at 6pm/at 3am">  3,742/</br>  4,075</td>
<td data-label="With travel mode at 6pm/at 3am">  3,299/</br>  3,641</td>
</tr>

<tr>
<td data-label="City region">Quimper region</td>
<td data-label="Year">2013</td>
<td data-label="Number of respondents">  4,696</td>
<td data-label="With socioprof. status at household/ indiv.level"> 4,639/</br> 4,519</td>
<td data-label="With education data at household/ indiv. level"> 4,639/</br> 4,519</td>
<td data-label="With household income"> 48,660</td>
<td data-label="With occupational status"> 48,660</td>
<td data-label="With activity at 6pm/at 3am"> 46,738/</br> 48,408</td>
<td data-label="With travel mode at 6pm/at 3am"> 38,488/</br> 40,284</td>
</tr>

<tr>
<td data-label="City region">Rennes region</td>
<td data-label="Year">2018</td>
<td data-label="Number of respondents">  9,317</td>
<td data-label="With socioprof. status at household/ indiv.level"> 9,007/</br> 8,589</td>
<td data-label="With education data at household/ indiv. level"> 9,007/</br> 8,589</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  4,550</td>
<td data-label="With activity at 6pm/at 3am">  4,384/</br>  4,680</td>
<td data-label="With travel mode at 6pm/at 3am">  3,626/</br>  3,925</td>
</tr>

<tr>
<td data-label="City region">Rouen region</td>
<td data-label="Year">2017</td>
<td data-label="Number of respondents">  8,905</td>
<td data-label="With socioprof. status at household/ indiv.level"> 8,568/</br> 7,930</td>
<td data-label="With education data at household/ indiv. level"> 8,580/</br> 7,952</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  9,254</td>
<td data-label="With activity at 6pm/at 3am">  8,580/</br>  9,275</td>
<td data-label="With travel mode at 6pm/at 3am">  7,663/</br>  8,379</td>
</tr>

<tr>
<td data-label="City region">Saguenay region</td>
<td data-label="Year">2015</td>
<td data-label="Number of respondents"> 13,942</td>
<td data-label="With socioprof. status at household/ indiv.level">-/</br>-</td>
<td data-label="With education data at household/ indiv. level">-/</br>-</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  8,746</td>
<td data-label="With activity at 6pm/at 3am">  8,064/</br>  8,872</td>
<td data-label="With travel mode at 6pm/at 3am">  6,896/</br>  7,722</td>
</tr>

<tr>
<td data-label="City region">Saint-Brieuc region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents">  3,570</td>
<td data-label="With socioprof. status at household/ indiv.level"> 3,517/</br> 3,403</td>
<td data-label="With education data at household/ indiv. level"> 3,517/</br> 3,403</td>
<td data-label="With household income"> 13,942</td>
<td data-label="With occupational status"> 13,942</td>
<td data-label="With activity at 6pm/at 3am"> 13,668/</br> 13,904</td>
<td data-label="With travel mode at 6pm/at 3am"> 10,449/</br> 10,719</td>
</tr>

<tr>
<td data-label="City region">Saint-Denis region</td>
<td data-label="Year">2016</td>
<td data-label="Number of respondents"> 13,801</td>
<td data-label="With socioprof. status at household/ indiv.level">13,663/</br>12,618</td>
<td data-label="With education data at household/ indiv. level">13,671/</br>12,639</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  3,503</td>
<td data-label="With activity at 6pm/at 3am">  3,219/</br>  3,543</td>
<td data-label="With travel mode at 6pm/at 3am">  2,840/</br>  3,168</td>
</tr>

<tr>
<td data-label="City region">Saint-Étienne region</td>
<td data-label="Year">2010</td>
<td data-label="Number of respondents">  8,525</td>
<td data-label="With socioprof. status at household/ indiv.level"> 8,365/</br> 7,788</td>
<td data-label="With education data at household/ indiv. level"> 8,346/</br> 7,740</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  8,309</td>
<td data-label="With activity at 6pm/at 3am">  7,922/</br>  8,499</td>
<td data-label="With travel mode at 6pm/at 3am">  6,671/</br>  7,257</td>
</tr>

<tr>
<td data-label="City region">Santiago region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents"> 29,733</td>
<td data-label="With socioprof. status at household/ indiv.level">-/</br>15,757</td>
<td data-label="With education data at household/ indiv. level">29,733/</br>29,732</td>
<td data-label="With household income"> 29,733</td>
<td data-label="With occupational status"> 29,732</td>
<td data-label="With activity at 6pm/at 3am"> 27,513/</br> 29,608</td>
<td data-label="With travel mode at 6pm/at 3am"> 22,457/</br> 24,768</td>
</tr>

<tr>
<td data-label="City region">São Paulo region</td>
<td data-label="Year">2017</td>
<td data-label="Number of respondents"> 71,866</td>
<td data-label="With socioprof. status at household/ indiv.level">-/</br>41,190</td>
<td data-label="With education data at household/ indiv. level">71,858/</br>71,866</td>
<td data-label="With household income"> 71,866</td>
<td data-label="With occupational status"> 71,866</td>
<td data-label="With activity at 6pm/at 3am"> 67,909/</br> 71,844</td>
<td data-label="With travel mode at 6pm/at 3am"> 45,292/</br> 49,373</td>
</tr>

<tr>
<td data-label="City region">Sherbrooke region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents"> 19,908</td>
<td data-label="With socioprof. status at household/ indiv.level">-/</br>-</td>
<td data-label="With education data at household/ indiv. level">-/</br>-</td>
<td data-label="With household income"> 19,908</td>
<td data-label="With occupational status"> 19,908</td>
<td data-label="With activity at 6pm/at 3am"> 19,017/</br> 19,718</td>
<td data-label="With travel mode at 6pm/at 3am"> 15,109/</br> 15,850</td>
</tr>

<tr>
<td data-label="City region">Strasbourg region</td>
<td data-label="Year">2009</td>
<td data-label="Number of respondents"> 10,052</td>
<td data-label="With socioprof. status at household/ indiv.level"> 9,789/</br> 9,016</td>
<td data-label="With education data at household/ indiv. level"> 9,714/</br> 8,811</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  9,886</td>
<td data-label="With activity at 6pm/at 3am">  9,320/</br> 10,029</td>
<td data-label="With travel mode at 6pm/at 3am">  8,154/</br>  8,881</td>
</tr>

<tr>
<td data-label="City region">Thionville region</td>
<td data-label="Year">2012</td>
<td data-label="Number of respondents">  3,609</td>
<td data-label="With socioprof. status at household/ indiv.level"> 3,516/</br> 3,318</td>
<td data-label="With education data at household/ indiv. level"> 3,515/</br> 3,317</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  3,551</td>
<td data-label="With activity at 6pm/at 3am">  3,020/</br>  3,582</td>
<td data-label="With travel mode at 6pm/at 3am">  2,549/</br>  3,113</td>
</tr>

<tr>
<td data-label="City region">Toulouse region</td>
<td data-label="Year">2013</td>
<td data-label="Number of respondents"> 11,141</td>
<td data-label="With socioprof. status at household/ indiv.level"> 9,992/</br> 9,207</td>
<td data-label="With education data at household/ indiv. level">10,011/</br> 9,216</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status"> 11,032</td>
<td data-label="With activity at 6pm/at 3am"> 10,234/</br> 11,115</td>
<td data-label="With travel mode at 6pm/at 3am">  9,055/</br>  9,953</td>
</tr>

<tr>
<td data-label="City region">Tours region</td>
<td data-label="Year">2019</td>
<td data-label="Number of respondents">  7,624</td>
<td data-label="With socioprof. status at household/ indiv.level"> 7,336/</br> 7,040</td>
<td data-label="With education data at household/ indiv. level"> 7,336/</br> 7,040</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  7,530</td>
<td data-label="With activity at 6pm/at 3am">  7,069/</br>  7,589</td>
<td data-label="With travel mode at 6pm/at 3am">  6,070/</br>  6,603</td>
</tr>

<tr>
<td data-label="City region">Trois-Rivières region</td>
<td data-label="Year">2011</td>
<td data-label="Number of respondents"> 18,936</td>
<td data-label="With socioprof. status at household/ indiv.level">-/</br>-</td>
<td data-label="With education data at household/ indiv. level">-/</br>-</td>
<td data-label="With household income"> 18,936</td>
<td data-label="With occupational status"> 18,936</td>
<td data-label="With activity at 6pm/at 3am"> 18,132/</br> 18,819</td>
<td data-label="With travel mode at 6pm/at 3am"> 13,439/</br> 14,186</td>
</tr>

<tr>
<td data-label="City region">Valence region</td>
<td data-label="Year">2014</td>
<td data-label="Number of respondents">  5,143</td>
<td data-label="With socioprof. status at household/ indiv.level"> 5,089/</br> 4,867</td>
<td data-label="With education data at household/ indiv. level"> 5,091/</br> 4,874</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  5,026</td>
<td data-label="With activity at 6pm/at 3am">  4,735/</br>  5,124</td>
<td data-label="With travel mode at 6pm/at 3am">  4,057/</br>  4,453</td>
</tr>

<tr>
<td data-label="City region">Valenciennes region</td>
<td data-label="Year">2019</td>
<td data-label="Number of respondents">  5,647</td>
<td data-label="With socioprof. status at household/ indiv.level"> 5,515/</br> 5,214</td>
<td data-label="With education data at household/ indiv. level"> 5,515/</br> 5,214</td>
<td data-label="With household income">-</td>
<td data-label="With occupational status">  5,517</td>
<td data-label="With activity at 6pm/at 3am">  5,150/</br>  5,616</td>
<td data-label="With travel mode at 6pm/at 3am">  4,249/</br>  4,730</td>
</tr>

</tbody>
</table>

