<table id="acvtable" class="display" style="width:100%">
<thead>
<tr>
<th>Municipio</th>
<th>Código</th>
<th>Encuesta</th>
<th>Tipo de correspondencia</th>
</tr>
</thead>
<tbody>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/albi?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Albi</a></td>
<td data-label="Código">81004</td>
<td data-label="Encuesta">Albi, 2011</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/alencon?m1=2&m2=2&m3=1&m4=nb&t=14&s=501" target="_blank">Saint-Lô</a></td>
<td data-label="Código">50502</td>
<td data-label="Encuesta">Alençon St-Lô, 2018</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/alencon?m1=2&m2=2&m3=1&m4=nb&t=14&s=601" target="_blank">Alençon</a></td>
<td data-label="Código">61001</td>
<td data-label="Encuesta">Alençon St-Lô, 2018</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/alencon?m1=2&m2=2&m3=1&m4=nb&t=14&s=607" target="_blank">Argentan</a></td>
<td data-label="Código">61006</td>
<td data-label="Encuesta">Alençon St-Lô, 2018</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/alencon?m1=2&m2=2&m3=1&m4=nb&t=14&s=611" target="_blank">Flers</a></td>
<td data-label="Código">61169</td>
<td data-label="Encuesta">Alençon St-Lô, 2018</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/angouleme?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Angoulême</a></td>
<td data-label="Código">16015</td>
<td data-label="Encuesta">Angoulême, 2012</td>
<td data-label="Tipo de correspondencia">Caso particular</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/annecy?m1=2&m2=2&m3=1&m4=nb&t=14&s=403" target="_blank">Rumilly</a></td>
<td data-label="Código">74225</td>
<td data-label="Encuesta">Annecy, 2017</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/bayonne?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Bayonne</a></td>
<td data-label="Código">64102</td>
<td data-label="Encuesta">Bayonne, 2010</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/besancon?m1=2&m2=2&m3=1&m4=nb&t=14&s=101" target="_blank">Besançon</a></td>
<td data-label="Código">25056</td>
<td data-label="Encuesta">Besançon, 2018</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/beziers?m1=2&m2=2&m3=1&m4=nb&t=14&s=101" target="_blank">Béziers</a></td>
<td data-label="Código">34032</td>
<td data-label="Encuesta">Béziers, 2014</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/beziers?m1=2&m2=2&m3=1&m4=nb&t=14&s=117" target="_blank">Agde</a></td>
<td data-label="Código">34003</td>
<td data-label="Encuesta">Béziers, 2014</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/bordeaux?m1=2&m2=2&m3=1&m4=nb&t=14&s=102" target="_blank">Libourne</a></td>
<td data-label="Código">33243</td>
<td data-label="Encuesta">Bordeaux, 2009</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/caen?m1=2&m2=2&m3=1&m4=nb&t=14&s=218" target="_blank">Lisieux</a></td>
<td data-label="Código">14366</td>
<td data-label="Encuesta">Caen, 2011</td>
<td data-label="Tipo de correspondencia">Caso particular</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/caen?m1=2&m2=2&m3=1&m4=nb&t=14&s=225" target="_blank">Vire Normandie</a></td>
<td data-label="Código">14762</td>
<td data-label="Encuesta">Caen, 2011</td>
<td data-label="Tipo de correspondencia">Caso particular</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/carcassonne?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Carcassonne</a></td>
<td data-label="Código">11069</td>
<td data-label="Encuesta">Carcassonne, 2015</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/cherbourg?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Cherbourg-en-Cotentin</a></td>
<td data-label="Código">50129</td>
<td data-label="Encuesta">Cherbourg, 2016</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/clermont-ferrand?m1=2&m2=2&m3=1&m4=nb&t=14&s=128" target="_blank">Riom</a></td>
<td data-label="Código">63300</td>
<td data-label="Encuesta">Clermont-Ferrand, 2012</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/clermont-ferrand?m1=2&m2=2&m3=1&m4=nb&t=14&s=203" target="_blank">Issoire</a></td>
<td data-label="Código">63178</td>
<td data-label="Encuesta">Clermont-Ferrand, 2012</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/clermont-ferrand?m1=2&m2=2&m3=1&m4=nb&t=14&s=210" target="_blank">Thiers</a></td>
<td data-label="Código">63430</td>
<td data-label="Encuesta">Clermont-Ferrand, 2012</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/clermont-ferrand?m1=2&m2=2&m3=1&m4=nb&t=14&s=219" target="_blank">Vichy</a></td>
<td data-label="Código">03310</td>
<td data-label="Encuesta">Clermont-Ferrand, 2012</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/creil?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Creil</a></td>
<td data-label="Código">60175</td>
<td data-label="Encuesta">Creil, 2017</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/creil?m1=2&m2=2&m3=1&m4=nb&t=14&s=024" target="_blank">Senlis</a></td>
<td data-label="Código">60612</td>
<td data-label="Encuesta">Creil, 2017</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/douai?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Douai</a></td>
<td data-label="Código">59178</td>
<td data-label="Encuesta">Douai, 2012</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/dunkerque?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Dunkerque</a></td>
<td data-label="Código">59183</td>
<td data-label="Encuesta">Dunkerque, 2015</td>
<td data-label="Tipo de correspondencia">Caso particular</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/grenoble?m1=2&m2=2&m3=1&m4=nb&t=14&s=501" target="_blank">Voiron</a></td>
<td data-label="Código">38563</td>
<td data-label="Encuesta">Grenoble, 2010</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7704" target="_blank">Meaux</a></td>
<td data-label="Código">77284</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7706" target="_blank">Coulommiers</a></td>
<td data-label="Código">77131</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7711" target="_blank">Melun</a></td>
<td data-label="Código">77288</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7713" target="_blank">Montereau-Fault-Yonne</a></td>
<td data-label="Código">77305</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7714" target="_blank">Avon</a></td>
<td data-label="Código">77014</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7714" target="_blank">Fontainebleau</a></td>
<td data-label="Código">77186</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7715" target="_blank">Nemours</a></td>
<td data-label="Código">77333</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7801" target="_blank">Sartrouville</a></td>
<td data-label="Código">78586</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7805" target="_blank">Poissy</a></td>
<td data-label="Código">78498</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7806" target="_blank">Meulan-en-Yvelines</a></td>
<td data-label="Código">78401</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7806" target="_blank">Les Mureaux</a></td>
<td data-label="Código">78440</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7807" target="_blank">Mantes-la-Jolie</a></td>
<td data-label="Código">78361</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7808" target="_blank">Limay</a></td>
<td data-label="Código">78335</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7815" target="_blank">Rambouillet</a></td>
<td data-label="Código">78517</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=7816" target="_blank">Trappes</a></td>
<td data-label="Código">78621</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9101" target="_blank">Évry-Courcouronnes</a></td>
<td data-label="Código">91228</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9103" target="_blank">Étampes</a></td>
<td data-label="Código">91223</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9104" target="_blank">Saint-Michel-sur-Orge</a></td>
<td data-label="Código">91570</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9105" target="_blank">Arpajon</a></td>
<td data-label="Código">91021</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9106" target="_blank">Corbeil-Essonnes</a></td>
<td data-label="Código">91174</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9503" target="_blank">Beaumont-sur-Oise</a></td>
<td data-label="Código">95052</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9503" target="_blank">Persan</a></td>
<td data-label="Código">95487</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/idf?m1=2&m2=2&m3=1&m4=nb&t=14&s=9506" target="_blank">Gonesse</a></td>
<td data-label="Código">95277</td>
<td data-label="Encuesta">Paris, 2010</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/la-reunion?m1=2&m2=2&m3=1&m4=nb&t=14&s=023" target="_blank">Saint-André</a></td>
<td data-label="Código">97409</td>
<td data-label="Encuesta">La Réunion, 2016</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/la-reunion?m1=2&m2=2&m3=1&m4=nb&t=14&s=034" target="_blank">Saint-Joseph</a></td>
<td data-label="Código">97412</td>
<td data-label="Encuesta">La Réunion, 2016</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/la-reunion?m1=2&m2=2&m3=1&m4=nb&t=14&s=045" target="_blank">Saint-Pierre</a></td>
<td data-label="Código">97416</td>
<td data-label="Encuesta">La Réunion, 2016</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/la-reunion?m1=2&m2=2&m3=1&m4=nb&t=14&s=070" target="_blank">Le Port</a></td>
<td data-label="Código">97407</td>
<td data-label="Encuesta">La Réunion, 2016</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/le-havre?m1=2&m2=2&m3=1&m4=nb&t=14&s=030" target="_blank">Fécamp</a></td>
<td data-label="Código">76259</td>
<td data-label="Encuesta">Le Havre, 2018</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/longwy?m1=2&m2=2&m3=1&m4=nb&t=14&s=120" target="_blank">Longwy</a></td>
<td data-label="Código">54323</td>
<td data-label="Encuesta">Longwy, 2014</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/lyon?m1=2&m2=2&m3=1&m4=nb&t=14&s=301" target="_blank">Bourgoin-Jallieu</a></td>
<td data-label="Código">38053</td>
<td data-label="Encuesta">Lyon, 2015</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/lyon?m1=2&m2=2&m3=1&m4=nb&t=14&s=401" target="_blank">Vienne</a></td>
<td data-label="Código">38544</td>
<td data-label="Encuesta">Lyon, 2015</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/lyon?m1=2&m2=2&m3=1&m4=nb&t=14&s=509" target="_blank">Tarare</a></td>
<td data-label="Código">69243</td>
<td data-label="Encuesta">Lyon, 2015</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/lyon?m1=2&m2=2&m3=1&m4=nb&t=14&s=712" target="_blank">Ambérieu-en-Bugey</a></td>
<td data-label="Código">01004</td>
<td data-label="Encuesta">Lyon, 2015</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/marseille?m1=2&m2=2&m3=1&m4=nb&t=14&s=133" target="_blank">Manosque</a></td>
<td data-label="Código">04112</td>
<td data-label="Encuesta">Marseille, 2009</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/martinique?m1=2&m2=2&m3=1&m4=nb&t=14&s=006" target="_blank">Fort-de-France</a></td>
<td data-label="Código">97209</td>
<td data-label="Encuesta">Martinique, 2014</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/martinique?m1=2&m2=2&m3=1&m4=nb&t=14&s=016" target="_blank">Le Lamentin</a></td>
<td data-label="Código">97213</td>
<td data-label="Encuesta">Martinique, 2014</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/montpellier?m1=2&m2=2&m3=1&m4=nb&t=14&s=059" target="_blank">Lunel</a></td>
<td data-label="Código">34145</td>
<td data-label="Encuesta">Montpellier, 2014</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/montpellier?m1=2&m2=2&m3=1&m4=nb&t=14&s=073" target="_blank">Sète</a></td>
<td data-label="Código">34301</td>
<td data-label="Encuesta">Montpellier, 2014</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/nancy?m1=2&m2=2&m3=1&m4=nb&t=14&s=151" target="_blank">Toul</a></td>
<td data-label="Código">54528</td>
<td data-label="Encuesta">Nancy, 2013</td>
<td data-label="Tipo de correspondencia">Caso particular</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/nancy?m1=2&m2=2&m3=1&m4=nb&t=14&s=163" target="_blank">Lunéville</a></td>
<td data-label="Código">54329</td>
<td data-label="Encuesta">Nancy, 2013</td>
<td data-label="Tipo de correspondencia">Caso particular</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/nantes?m1=2&m2=2&m3=1&m4=nb&t=14&s=110" target="_blank">Saint-Nazaire</a></td>
<td data-label="Código">44184</td>
<td data-label="Encuesta">Nantes, 2015</td>
<td data-label="Tipo de correspondencia">Caso particular</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/nantes?m1=2&m2=2&m3=1&m4=nb&t=14&s=210" target="_blank">Châteaubriant</a></td>
<td data-label="Código">44036</td>
<td data-label="Encuesta">Nantes, 2015</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/nice?m1=2&m2=2&m3=1&m4=nb&t=14&s=078" target="_blank">Vallauris</a></td>
<td data-label="Código">06155</td>
<td data-label="Encuesta">Nice, 2009</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/nice?m1=2&m2=2&m3=1&m4=nb&t=14&s=084" target="_blank">Grasse</a></td>
<td data-label="Código">06069</td>
<td data-label="Encuesta">Nice, 2009</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/niort?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Niort</a></td>
<td data-label="Código">79191</td>
<td data-label="Encuesta">Niort, 2016</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/poitiers?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Poitiers</a></td>
<td data-label="Código">86194</td>
<td data-label="Encuesta">Poitiers, 2018</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/quimper?m1=2&m2=2&m3=1&m4=nb&t=14&s=011" target="_blank">Quimper</a></td>
<td data-label="Código">29232</td>
<td data-label="Encuesta">Quimper, 2013</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/rennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=047" target="_blank">Vitré</a></td>
<td data-label="Código">35360</td>
<td data-label="Encuesta">Rennes, 2018</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/rennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=054" target="_blank">Redon</a></td>
<td data-label="Código">35236</td>
<td data-label="Encuesta">Rennes, 2018</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/rennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=064" target="_blank">Saint-Malo</a></td>
<td data-label="Código">35288</td>
<td data-label="Encuesta">Rennes, 2018</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/rennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=073" target="_blank">Fougères</a></td>
<td data-label="Código">35115</td>
<td data-label="Encuesta">Rennes, 2018</td>
<td data-label="Tipo de correspondencia">Municipio infrasectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/rouen?m1=2&m2=2&m3=1&m4=nb&t=14&s=059" target="_blank">Louviers</a></td>
<td data-label="Código">27375</td>
<td data-label="Encuesta">Rouen, 2017</td>
<td data-label="Tipo de correspondencia">Caso particular</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/saint-brieuc?m1=2&m2=2&m3=1&m4=nb&t=14&s=015" target="_blank">Saint-Brieuc</a></td>
<td data-label="Código">22278</td>
<td data-label="Encuesta">Saint-Brieuc, 2012</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/saint-etienne?m1=2&m2=2&m3=1&m4=nb&t=14&s=034" target="_blank">Montbrison</a></td>
<td data-label="Código">42147</td>
<td data-label="Encuesta">Saint-Étienne, 2010</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/strasbourg?m1=2&m2=2&m3=1&m4=nb&t=14&s=050" target="_blank">Haguenau</a></td>
<td data-label="Código">67180</td>
<td data-label="Encuesta">Strasbourg, 2009</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/strasbourg?m1=2&m2=2&m3=1&m4=nb&t=14&s=056" target="_blank">Saverne</a></td>
<td data-label="Código">67437</td>
<td data-label="Encuesta">Strasbourg, 2009</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/thionville?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Thionville</a></td>
<td data-label="Código">57672</td>
<td data-label="Encuesta">Thionville, 2012</td>
<td data-label="Tipo de correspondencia">Caso particular</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/tours?m1=2&m2=2&m3=1&m4=nb&t=14&s=246" target="_blank">Chinon</a></td>
<td data-label="Código">37072</td>
<td data-label="Encuesta">Tours, 2019</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/valence?m1=2&m2=2&m3=1&m4=nb&t=14&s=101" target="_blank">Valence</a></td>
<td data-label="Código">26362</td>
<td data-label="Encuesta">Valence, 2014</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/valence?m1=2&m2=2&m3=1&m4=nb&t=14&s=116" target="_blank">Bourg-de-Péage</a></td>
<td data-label="Código">26057</td>
<td data-label="Encuesta">Valence, 2014</td>
<td data-label="Tipo de correspondencia">Municipio monosectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/valence?m1=2&m2=2&m3=1&m4=nb&t=14&s=117" target="_blank">Romans-sur-Isère</a></td>
<td data-label="Código">26281</td>
<td data-label="Encuesta">Valence, 2014</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/valenciennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=001" target="_blank">Valenciennes</a></td>
<td data-label="Código">59606</td>
<td data-label="Encuesta">Valenciennes, 2019</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

<tr>
<td data-label="Municipio"><a href = "/es/geoviz/valenciennes?m1=2&m2=2&m3=1&m4=nb&t=14&s=021" target="_blank">Denain</a></td>
<td data-label="Código">59172</td>
<td data-label="Encuesta">Valenciennes, 2019</td>
<td data-label="Tipo de correspondencia">Municipio multisectorial</td>
</tr>

</tbody>
</table>

