<table id="dtable" class="display" style="width:100%">
<thead>
<tr>
<th>Ciudad</th>
<th>Fecha</th>
<th>Número de encuestados</th>
<th>Número de viajes</th>
<th>Número de presencias horarias</th>
<th>Número de sectores</th>
<th>Tamaño de los sectores en km². Área mediana (min-max)</th>
<th>Número de encuestados por sector. Mediana (min-max) a las 3:00</th>
<th>Número de encuestados por sector. Mediana (min-max) a las 15:00</th>
</tr>
</thead>
<tbody>

<tr>
<td data-label="Ciudad">Albi y su region</td>
<td data-label="Fecha">2011</td>
<td data-label="Número de encuestados">  2 339</td>
<td data-label="Número de viajes">  9 171</td>
<td data-label="Número de presencias horarias">   52 709</td>
<td data-label="Número de sectores">15</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">7 (1,3-54)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">155 (148-160)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">119 (77-288)</td>
</tr>

<tr>
<td data-label="Ciudad">Alençon y su region</td>
<td data-label="Fecha">2018</td>
<td data-label="Número de encuestados">  6 520</td>
<td data-label="Número de viajes"> 30 315</td>
<td data-label="Número de presencias horarias">  148 702</td>
<td data-label="Número de sectores">46</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">145 (1,9-435)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">140 (131-154)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">118 (78-231)</td>
</tr>

<tr>
<td data-label="Ciudad">Amiens y su region</td>
<td data-label="Fecha">2010</td>
<td data-label="Número de encuestados">  7 097</td>
<td data-label="Número de viajes"> 30 933</td>
<td data-label="Número de presencias horarias">  162 293</td>
<td data-label="Número de sectores">45</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">13 (0,8-410)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">145 (127-238)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">128 (76-443)</td>
</tr>

<tr>
<td data-label="Ciudad">Angers y su region</td>
<td data-label="Fecha">2012</td>
<td data-label="Número de encuestados">  3 983</td>
<td data-label="Número de viajes"> 18 399</td>
<td data-label="Número de presencias horarias">   90 032</td>
<td data-label="Número de sectores">28</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">17 (2-111)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">138 (124-160)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">111 (63-258)</td>
</tr>

<tr>
<td data-label="Ciudad">Angoulême y su region</td>
<td data-label="Fecha">2012</td>
<td data-label="Número de encuestados">  2 684</td>
<td data-label="Número de viajes"> 11 300</td>
<td data-label="Número de presencias horarias">   60 691</td>
<td data-label="Número de sectores">18</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">14 (1,5-151)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">146 (139-172)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">130 (75-249)</td>
</tr>

<tr>
<td data-label="Ciudad">Annecy y su region</td>
<td data-label="Fecha">2017</td>
<td data-label="Número de encuestados">  4 953</td>
<td data-label="Número de viajes"> 22 944</td>
<td data-label="Número de presencias horarias">  110 641</td>
<td data-label="Número de sectores">34</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">27 (0,9-486)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">143 (130-172)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">124 (83-246)</td>
</tr>

<tr>
<td data-label="Ciudad">Annemasse y su region</td>
<td data-label="Fecha">2016</td>
<td data-label="Número de encuestados">  5 905</td>
<td data-label="Número de viajes"> 26 700</td>
<td data-label="Número de presencias horarias">  123 973</td>
<td data-label="Número de sectores">42</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">36 (0,8-232)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">137 (121-213)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">96 (66-161)</td>
</tr>

<tr>
<td data-label="Ciudad">Bayonne y su region</td>
<td data-label="Fecha">2010</td>
<td data-label="Número de encuestados">  7 387</td>
<td data-label="Número de viajes"> 28 716</td>
<td data-label="Número de presencias horarias">  170 184</td>
<td data-label="Número de sectores">50</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">20 (0,8-642)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">147 (129-171)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">122 (86-436)</td>
</tr>

<tr>
<td data-label="Ciudad">Besançon y su region</td>
<td data-label="Fecha">2018</td>
<td data-label="Número de encuestados">  3 980</td>
<td data-label="Número de viajes"> 17 568</td>
<td data-label="Número de presencias horarias">   90 654</td>
<td data-label="Número de sectores">28</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">5 (0,5-191)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">142 (127-157)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">104 (74-451)</td>
</tr>

<tr>
<td data-label="Ciudad">Béziers y su region</td>
<td data-label="Fecha">2014</td>
<td data-label="Número de encuestados">  4 212</td>
<td data-label="Número de viajes"> 18 661</td>
<td data-label="Número de presencias horarias">   95 887</td>
<td data-label="Número de sectores">30</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">52 (1,2-822)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">138 (130-153)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">117 (82-204)</td>
</tr>

<tr>
<td data-label="Ciudad">Bogotá y su region</td>
<td data-label="Fecha">2019</td>
<td data-label="Número de encuestados"> 49 757</td>
<td data-label="Número de viajes">127 405</td>
<td data-label="Número de presencias horarias">1 126 901</td>
<td data-label="Número de sectores">133</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">4 (0,8-15)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">365 (46-729)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">323 (70-1453)</td>
</tr>

<tr>
<td data-label="Ciudad">Bordeaux y su region</td>
<td data-label="Fecha">2009</td>
<td data-label="Número de encuestados"> 13 793</td>
<td data-label="Número de viajes"> 60 641</td>
<td data-label="Número de presencias horarias">  321 385</td>
<td data-label="Número de sectores">95</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">10 (0,4-1206)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">142 (124-216)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">127 (61-293)</td>
</tr>

<tr>
<td data-label="Ciudad">Brest y su region</td>
<td data-label="Fecha">2018</td>
<td data-label="Número de encuestados">  6 518</td>
<td data-label="Número de viajes"> 29 237</td>
<td data-label="Número de presencias horarias">  151 004</td>
<td data-label="Número de sectores">46</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">13 (0,9-236)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">139 (125-161)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">115 (73-301)</td>
</tr>

<tr>
<td data-label="Ciudad">Caen y su region</td>
<td data-label="Fecha">2011</td>
<td data-label="Número de encuestados"> 10 000</td>
<td data-label="Número de viajes"> 43 194</td>
<td data-label="Número de presencias horarias">  232 512</td>
<td data-label="Número de sectores">67</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">15 (0,5-647)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">151 (125-165)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">123 (70-485)</td>
</tr>

<tr>
<td data-label="Ciudad">Carcassonne y su region</td>
<td data-label="Fecha">2015</td>
<td data-label="Número de encuestados">  2 891</td>
<td data-label="Número de viajes"> 11 915</td>
<td data-label="Número de presencias horarias">   66 165</td>
<td data-label="Número de sectores">19</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">36 (0,8-246)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">153 (140-159)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">119 (90-306)</td>
</tr>

<tr>
<td data-label="Ciudad">Cherbourg y su region</td>
<td data-label="Fecha">2016</td>
<td data-label="Número de encuestados">  4 207</td>
<td data-label="Número de viajes"> 18 978</td>
<td data-label="Número de presencias horarias">   97 670</td>
<td data-label="Número de sectores">28</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">42 (1,3-231)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">150 (142-158)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">125 (88-337)</td>
</tr>

<tr>
<td data-label="Ciudad">Clermont-Ferrand y su region</td>
<td data-label="Fecha">2012</td>
<td data-label="Número de encuestados">  8 052</td>
<td data-label="Número de viajes"> 34 182</td>
<td data-label="Número de presencias horarias">  187 334</td>
<td data-label="Número de sectores">56</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">39 (0,7-471)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">144 (130-159)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">112 (71-373)</td>
</tr>

<tr>
<td data-label="Ciudad">Creil y su region</td>
<td data-label="Fecha">2017</td>
<td data-label="Número de encuestados">  4 581</td>
<td data-label="Número de viajes"> 18 956</td>
<td data-label="Número de presencias horarias">   96 753</td>
<td data-label="Número de sectores">31</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">16 (1-144)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">146 (140-153)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">104 (60-199)</td>
</tr>

<tr>
<td data-label="Ciudad">Dijon y su region</td>
<td data-label="Fecha">2016</td>
<td data-label="Número de encuestados">  4 372</td>
<td data-label="Número de viajes"> 18 685</td>
<td data-label="Número de presencias horarias">  100 771</td>
<td data-label="Número de sectores">30</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">6 (0,7-241)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">142 (126-179)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">120 (67-341)</td>
</tr>

<tr>
<td data-label="Ciudad">Douai y su region</td>
<td data-label="Fecha">2012</td>
<td data-label="Número de encuestados">  5 344</td>
<td data-label="Número de viajes"> 23 883</td>
<td data-label="Número de presencias horarias">  115 844</td>
<td data-label="Número de sectores">38</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">8 (1-54)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">139 (127-160)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">110 (64-214)</td>
</tr>

<tr>
<td data-label="Ciudad">Dunkerque y su region</td>
<td data-label="Fecha">2015</td>
<td data-label="Número de encuestados">  4 537</td>
<td data-label="Número de viajes"> 22 491</td>
<td data-label="Número de presencias horarias">  103 897</td>
<td data-label="Número de sectores">32</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">9 (1,1-117)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">140 (128-154)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">114 (71-289)</td>
</tr>

<tr>
<td data-label="Ciudad">Fort-de-France y su region</td>
<td data-label="Fecha">2014</td>
<td data-label="Número de encuestados">  4 179</td>
<td data-label="Número de viajes"> 14 005</td>
<td data-label="Número de presencias horarias">   98 073</td>
<td data-label="Número de sectores">24</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">36 (4,7-129)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">156 (129-283)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">146 (110-296)</td>
</tr>

<tr>
<td data-label="Ciudad">Grenoble y su region</td>
<td data-label="Fecha">2010</td>
<td data-label="Número de encuestados"> 13 834</td>
<td data-label="Número de viajes"> 63 336</td>
<td data-label="Número de presencias horarias">  318 862</td>
<td data-label="Número de sectores">97</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">14 (0,2-834)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">139 (124-273)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">107 (50-471)</td>
</tr>

<tr>
<td data-label="Ciudad">La Rochelle y su region</td>
<td data-label="Fecha">2011</td>
<td data-label="Número de encuestados">  2 902</td>
<td data-label="Número de viajes"> 12 203</td>
<td data-label="Número de presencias horarias">   66 249</td>
<td data-label="Número de sectores">19</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">8 (1,3-40)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">153 (137-164)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">120 (75-401)</td>
</tr>

<tr>
<td data-label="Ciudad">Le Havre y su region</td>
<td data-label="Fecha">2018</td>
<td data-label="Número de encuestados">  6 540</td>
<td data-label="Número de viajes"> 29 029</td>
<td data-label="Número de presencias horarias">  151 581</td>
<td data-label="Número de sectores">43</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">25 (0,7-256)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">141 (127-262)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">108 (72-434)</td>
</tr>

<tr>
<td data-label="Ciudad">Lille y su region</td>
<td data-label="Fecha">2016</td>
<td data-label="Número de encuestados">  7 949</td>
<td data-label="Número de viajes"> 38 180</td>
<td data-label="Número de presencias horarias">  181 210</td>
<td data-label="Número de sectores">57</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">5 (1-56)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">138 (123-156)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">118 (76-323)</td>
</tr>

<tr>
<td data-label="Ciudad">Longwy y su region</td>
<td data-label="Fecha">2014</td>
<td data-label="Número de encuestados">  3 347</td>
<td data-label="Número de viajes"> 13 178</td>
<td data-label="Número de presencias horarias">   70 548</td>
<td data-label="Número de sectores">22</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">32 (2,2-200)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">152 (145-160)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">108 (79-155)</td>
</tr>

<tr>
<td data-label="Ciudad">Lyon y su region</td>
<td data-label="Fecha">2015</td>
<td data-label="Número de encuestados"> 24 070</td>
<td data-label="Número de viajes"> 99 585</td>
<td data-label="Número de presencias horarias">  557 575</td>
<td data-label="Número de sectores">169</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">10 (0,4-346)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">140 (121-251)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">122 (68-445)</td>
</tr>

<tr>
<td data-label="Ciudad">Marseille y su region</td>
<td data-label="Fecha">2009</td>
<td data-label="Número de encuestados"> 19 380</td>
<td data-label="Número de viajes"> 87 031</td>
<td data-label="Número de presencias horarias">  449 111</td>
<td data-label="Número de sectores">137</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">18 (0,3-342)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">141 (117-165)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">118 (66-401)</td>
</tr>

<tr>
<td data-label="Ciudad">Metz y su region</td>
<td data-label="Fecha">2017</td>
<td data-label="Número de encuestados">  6 490</td>
<td data-label="Número de viajes"> 31 131</td>
<td data-label="Número de presencias horarias">  144 399</td>
<td data-label="Número de sectores">44</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">13 (1,1-176)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">142 (129-238)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">112 (70-414)</td>
</tr>

<tr>
<td data-label="Ciudad">Montpellier y su region</td>
<td data-label="Fecha">2014</td>
<td data-label="Número de encuestados"> 11 433</td>
<td data-label="Número de viajes"> 52 387</td>
<td data-label="Número de presencias horarias">  263 639</td>
<td data-label="Número de sectores">80</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">10 (0,3-547)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">140 (126-236)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">114 (71-421)</td>
</tr>

<tr>
<td data-label="Ciudad">Montréal y su region</td>
<td data-label="Fecha">2013</td>
<td data-label="Número de encuestados">155 853</td>
<td data-label="Número de viajes">404 563</td>
<td data-label="Número de presencias horarias">3 689 524</td>
<td data-label="Número de sectores">113</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">36 (1-762)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">1069 (116-4551)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">862 (109-9656)</td>
</tr>

<tr>
<td data-label="Ciudad">Nancy y su region</td>
<td data-label="Fecha">2013</td>
<td data-label="Número de encuestados">  9 657</td>
<td data-label="Número de viajes"> 40 664</td>
<td data-label="Número de presencias horarias">  221 489</td>
<td data-label="Número de sectores">68</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">17 (0,6-407)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">142 (124-163)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">110 (57-542)</td>
</tr>

<tr>
<td data-label="Ciudad">Nantes y su region</td>
<td data-label="Fecha">2015</td>
<td data-label="Número de encuestados"> 17 357</td>
<td data-label="Número de viajes"> 81 924</td>
<td data-label="Número de presencias horarias">  401 110</td>
<td data-label="Número de sectores">123</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">21 (0,6-331)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">138 (113-195)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">117 (66-389)</td>
</tr>

<tr>
<td data-label="Ciudad">Nice y su region</td>
<td data-label="Fecha">2009</td>
<td data-label="Número de encuestados"> 14 989</td>
<td data-label="Número de viajes"> 58 239</td>
<td data-label="Número de presencias horarias">  346 893</td>
<td data-label="Número de sectores">104</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">5 (0,4-505)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">143 (128-163)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">126 (65-384)</td>
</tr>

<tr>
<td data-label="Ciudad">Nîmes y su region</td>
<td data-label="Fecha">2015</td>
<td data-label="Número de encuestados">  4 519</td>
<td data-label="Número de viajes"> 18 598</td>
<td data-label="Número de presencias horarias">  102 599</td>
<td data-label="Número de sectores">31</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">8 (0,3-152)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">144 (132-168)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">114 (75-327)</td>
</tr>

<tr>
<td data-label="Ciudad">Niort y su region</td>
<td data-label="Fecha">2016</td>
<td data-label="Número de encuestados">  2 869</td>
<td data-label="Número de viajes"> 12 705</td>
<td data-label="Número de presencias horarias">   65 026</td>
<td data-label="Número de sectores">19</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">15 (1,1-156)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">150 (142-160)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">130 (83-226)</td>
</tr>

<tr>
<td data-label="Ciudad">Ottawa-Gatineau y su region</td>
<td data-label="Fecha">2011</td>
<td data-label="Número de encuestados"> 48 767</td>
<td data-label="Número de viajes">149 147</td>
<td data-label="Número de presencias horarias">1 159 530</td>
<td data-label="Número de sectores">26</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">58 (2,6-1278)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">1792 (400-4367)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">1566 (338-4695)</td>
</tr>

<tr>
<td data-label="Ciudad">Paris y su region</td>
<td data-label="Fecha">2010</td>
<td data-label="Número de encuestados"> 26 312</td>
<td data-label="Número de viajes">124 258</td>
<td data-label="Número de presencias horarias">  605 074</td>
<td data-label="Número de sectores">109</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">26 (3-1324)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">235 (129-420)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">204 (86-746)</td>
</tr>

<tr>
<td data-label="Ciudad">Poitiers y su region</td>
<td data-label="Fecha">2018</td>
<td data-label="Número de encuestados">  4 106</td>
<td data-label="Número de viajes"> 17 305</td>
<td data-label="Número de presencias horarias">   93 297</td>
<td data-label="Número de sectores">28</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">51 (1,1-228)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">140 (127-255)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">104 (60-450)</td>
</tr>

<tr>
<td data-label="Ciudad">Québec y su region</td>
<td data-label="Fecha">2011</td>
<td data-label="Número de encuestados"> 48 660</td>
<td data-label="Número de viajes">135 788</td>
<td data-label="Número de presencias horarias">1 128 494</td>
<td data-label="Número de sectores">69</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">16 (1,5-697)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">666 (301-1553)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">527 (179-2415)</td>
</tr>

<tr>
<td data-label="Ciudad">Quimper y su region</td>
<td data-label="Fecha">2013</td>
<td data-label="Número de encuestados">  4 696</td>
<td data-label="Número de viajes"> 17 291</td>
<td data-label="Número de presencias horarias">  108 273</td>
<td data-label="Número de sectores">30</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">57 (2,5-260)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">152 (142-200)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">130 (96-285)</td>
</tr>

<tr>
<td data-label="Ciudad">Rennes y su region</td>
<td data-label="Fecha">2018</td>
<td data-label="Número de encuestados">  9 317</td>
<td data-label="Número de viajes"> 44 004</td>
<td data-label="Número de presencias horarias">  214 867</td>
<td data-label="Número de sectores">68</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">55 (0,8-466)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">136 (118-159)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">106 (64-379)</td>
</tr>

<tr>
<td data-label="Ciudad">Rouen y su region</td>
<td data-label="Fecha">2017</td>
<td data-label="Número de encuestados">  8 905</td>
<td data-label="Número de viajes"> 38 146</td>
<td data-label="Número de presencias horarias">  202 329</td>
<td data-label="Número de sectores">63</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">15 (1,1-231)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">140 (118-166)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">108 (59-295)</td>
</tr>

<tr>
<td data-label="Ciudad">Saguenay y su region</td>
<td data-label="Fecha">2015</td>
<td data-label="Número de encuestados"> 13 942</td>
<td data-label="Número de viajes"> 41 229</td>
<td data-label="Número de presencias horarias">  327 391</td>
<td data-label="Número de sectores">21</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">26 (3,2-616)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">667 (456-760)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">601 (326-1200)</td>
</tr>

<tr>
<td data-label="Ciudad">Saint-Brieuc y su region</td>
<td data-label="Fecha">2012</td>
<td data-label="Número de encuestados">  3 570</td>
<td data-label="Número de viajes"> 14 556</td>
<td data-label="Número de presencias horarias">   80 240</td>
<td data-label="Número de sectores">22</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">8 (1,1-35)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">152 (146-245)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">124 (71-377)</td>
</tr>

<tr>
<td data-label="Ciudad">Saint-Denis y su region</td>
<td data-label="Fecha">2016</td>
<td data-label="Número de encuestados"> 13 801</td>
<td data-label="Número de viajes"> 53 363</td>
<td data-label="Número de presencias horarias">  324 660</td>
<td data-label="Número de sectores">99</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">11 (0,6-275)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">139 (121-159)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">124 (72-317)</td>
</tr>

<tr>
<td data-label="Ciudad">Saint-Étienne y su region</td>
<td data-label="Fecha">2010</td>
<td data-label="Número de encuestados">  8 525</td>
<td data-label="Número de viajes"> 38 576</td>
<td data-label="Número de presencias horarias">  195 223</td>
<td data-label="Número de sectores">52</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">30 (1,2-345)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">156 (137-220)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">127 (78-331)</td>
</tr>

<tr>
<td data-label="Ciudad">Santiago y su region</td>
<td data-label="Fecha">2012</td>
<td data-label="Número de encuestados"> 29 733</td>
<td data-label="Número de viajes"> 75 733</td>
<td data-label="Número de presencias horarias">  685 001</td>
<td data-label="Número de sectores">185</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">3 (0,7-855)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">156 (93-412)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">121 (58-1130)</td>
</tr>

<tr>
<td data-label="Ciudad">São Paulo y su region</td>
<td data-label="Fecha">2017</td>
<td data-label="Número de encuestados"> 71 866</td>
<td data-label="Número de viajes">152 975</td>
<td data-label="Número de presencias horarias">1 690 002</td>
<td data-label="Número de sectores">259</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">11 (1,3-522)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">146 (60-1540)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">162 (40-1870)</td>
</tr>

<tr>
<td data-label="Ciudad">Sherbrooke y su region</td>
<td data-label="Fecha">2012</td>
<td data-label="Número de encuestados"> 19 908</td>
<td data-label="Número de viajes"> 58 361</td>
<td data-label="Número de presencias horarias">  456 828</td>
<td data-label="Número de sectores">28</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">22 (1,7-357)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">668 (533-1245)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">504 (329-1517)</td>
</tr>

<tr>
<td data-label="Ciudad">Strasbourg y su region</td>
<td data-label="Fecha">2009</td>
<td data-label="Número de encuestados"> 10 052</td>
<td data-label="Número de viajes"> 46 935</td>
<td data-label="Número de presencias horarias">  231 463</td>
<td data-label="Número de sectores">67</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">35 (0,6-581)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">145 (128-225)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">123 (78-284)</td>
</tr>

<tr>
<td data-label="Ciudad">Thionville y su region</td>
<td data-label="Fecha">2012</td>
<td data-label="Número de encuestados">  3 609</td>
<td data-label="Número de viajes"> 15 676</td>
<td data-label="Número de presencias horarias">   75 299</td>
<td data-label="Número de sectores">22</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">7 (0,6-62)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">164 (155-173)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">106 (80-243)</td>
</tr>

<tr>
<td data-label="Ciudad">Toulouse y su region</td>
<td data-label="Fecha">2013</td>
<td data-label="Número de encuestados"> 11 141</td>
<td data-label="Número de viajes"> 48 919</td>
<td data-label="Número de presencias horarias">  257 168</td>
<td data-label="Número de sectores">66</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">11 (0,9-237)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">154 (128-331)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">128 (64-530)</td>
</tr>

<tr>
<td data-label="Ciudad">Tours y su region</td>
<td data-label="Fecha">2019</td>
<td data-label="Número de encuestados">  7 624</td>
<td data-label="Número de viajes"> 33 388</td>
<td data-label="Número de presencias horarias">  175 782</td>
<td data-label="Número de sectores">54</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">43 (0,5-637)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">139 (122-160)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">119 (78-279)</td>
</tr>

<tr>
<td data-label="Ciudad">Trois-Rivières y su region</td>
<td data-label="Fecha">2011</td>
<td data-label="Número de encuestados"> 18 936</td>
<td data-label="Número de viajes"> 50 687</td>
<td data-label="Número de presencias horarias">  433 505</td>
<td data-label="Número de sectores">28</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">62 (1,9-305)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">562 (422-1514)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">427 (284-1443)</td>
</tr>

<tr>
<td data-label="Ciudad">Valence y su region</td>
<td data-label="Fecha">2014</td>
<td data-label="Número de encuestados">  5 143</td>
<td data-label="Número de viajes"> 23 230</td>
<td data-label="Número de presencias horarias">  117 368</td>
<td data-label="Número de sectores">36</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">41 (1,3-477)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">142 (127-163)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">122 (71-326)</td>
</tr>

<tr>
<td data-label="Ciudad">Valenciennes y su region</td>
<td data-label="Fecha">2019</td>
<td data-label="Número de encuestados">  5 647</td>
<td data-label="Número de viajes"> 23 138</td>
<td data-label="Número de presencias horarias">  126 662</td>
<td data-label="Número de sectores">41</td>
<td data-label="Tamaño de los sectores en km². Área mediana (min-max)">12 (0,9-51)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 3:00">137 (125-150)</td>
<td data-label="Número de encuestados por sector. Mediana (min-max) a las 15:00">112 (75-255)</td>
</tr>

</tbody>
</table>

